.advantages
  padding 45px 0px 0 0px

  .grid__item:last-child

    .advantages-item
      margin-bottom 2px

  &-item
    display block
    margin 0 0 30px 0

    &__icon
      display inline-block
      vertical-align top
      width 50px
      height 50px
      margin 0 10px 0 0

    &__title
      display inline-block
      vertical-align top
      font-family Medium
      font-size 15px
      line-height 50px

    &__desc
      display none
      color #6e7677
      font-size basefont
      line-height 25px

  @media screen and (min-width: 1023px)
    padding 90px 0 0 0

    &-item
      text-align center
      margin 0 !important

      &__icon
        display block
        width 100px
        height 100px
        margin 0 auto 30px

      &__title
        display block
        font-size 20px
        line-height 1.5
        margin 0 0 22px 0

      &__desc
        display block