.bonuses
  position relative
  background colorGrey
  padding 17px 20px 40px 20px

  &__title
    display block
    font-size 20px
    line-height 30px
    margin 0 0 10px 0
    font-weight normal

  &__item
    font-family Medium
    font-size 15px
    line-height 2
    margin 0
    padding 0

    &-name
      color #6e7677

  &__invite
    border 2px solid #e2e4e4
    padding 18px 28px 28px 28px
    margin 20px 0 0 0

    &-txt
      text-align center
      font-family Medium
      font-size 15px
      line-height 25px
      padding  0 0 2px 0
      margin 0

    .btn
      display block
      width 100%
      margin 20px 0 0 0

  @media screen and (min-width: 930px)
    padding 25px 40px 60px 40px

    &__title
      font-size 30px
      line-height 1
      margin-bottom 18px

    &__item
      font-size 20px

    &__invite
      margin-top 25px
      padding 51px 60px 60px 60px

      &-txt
        width 370px
        margin 0 auto 39px

      &-btns
        width 390px
        margin 0 auto

        .btn
          float left
          width 180px
          margin 0 0 0 30px

          &:first-child
            margin 0
