.cleaner-profile
  display block
  min-width 280px
  position relative
  font-family Regular
  font-size 15px
  line-height 25px
  margin 15px 0 0 0

  &__pic
    display block
    width 130px
    height 130px
    border-radius 50%
    overflow hidden
    margin 0 0 20px 0


    img
      display block
      width 100%
      height 100%
      margin 0

  &__inf

    &-name
      position absolute
      left 150px
      top 10px
      width 130px
      font-family Medium
      font-size 20px
      line-height 1.5
      margin 0
      font-weight normal

    &-txt
      margin 0

  @media screen and (min-width: 930px)
    margin 0
    padding 0 0 0 290px
    min-height 230px

    &__pic
      width 230px
      height 230px
      position absolute
      left 0
      top 0

    &__inf

      &-name
        position relative
        left auto
        top auto
        font-size 30px
        line-height 1
        width auto
        margin 0 0 25px 0



