.cleaning-tools
  position relative
  background url('../images/content/tools_small.jpg') center -23px no-repeat
  padding 170px 0 14px 0

  &__desc
    text-align center
    margin 0
    padding 0

  @media screen and (min-width: 1023px)
    background url('../images/content/tools.jpg') center -98px no-repeat
    font-size 20px
    line-height 40px
    width 690px
    margin 0 auto -13px
    padding 392px 0 0 0
