.clean-content
  position relative
  margin 0 0 30px 0

  &__title
    margin-bottom 23px

  &__pic
    display none

  &__list
    margin 0
    padding 0 0 0 10px
    font-size 13px
    line-height 20px

  @media screen and (min-width: 830px)
    width 630px

    &__pic
      display block
      float left
      width 400px
      margin 0 30px 0 0

    &__list
      width 200px
      float right

      li
        margin 0 0 10px 0

