.comment-link
  display inline-block
  vertical-align top
  position relative
  padding 0 0 0 25px
  font-family Medium
  font-size 15px
  line-height 2
  background url64('../images/icons/icon-50.svg') 0 center no-repeat