.content-section
  font-size 15px
  line-height 25px
  margin 0 auto

  > h3
    margin-bottom 15px

  > p + h3
    margin-top  22px

  > p + .form
    margin-top 40px

  @media screen and (min-width: 1200px)
    max-width 500px
    margin 0
