.for-cleaners-intro
  display block
  width 280px
  height 230px
  margin 10px auto 20px
  color #ffffff
  font-size 15px
  line-height 25px
  font-family Medium
  text-align center
  padding 30px
  background url('../images/for-cleaners.jpg') 0 0 no-repeat

  @media screen and (min-width: 750px)
    width 730px
    background-image  url('../images/for-cleaners_big.jpg')
    margin-bottom 40px
