.form-section
  display table-cell
  vertical-align middle

  &__content
    max-width 570px
    margin 0 auto
    text-align center

  &__txt
    text-align center
    font-family Medium
    font-size basefont
    line-height 25px
    margin 0 0 32px 0
    padding 1px 30px 0 30px
    @media screen and (min-width: 1023px)
      font-size 20px
      line-height 1.5
      margin 0 0 52px 0

  &__input
    width 280px
    display block !important
    margin 0 auto 40px
    @media screen and (min-width: 1023px)
      width 390px
