.icon
  display inline-block

  &_warranty
  &_insurance
  &_price
  &_order
  &_eco
    width 50px
    height 50px
    vertical-align top
    background-position 0 0
    background-repeat no-repeat
    background-size contain

    @media screen and (min-width: 1023px)
      width 100px
      height 100px

  &_eco
    background-image url64('../images/icons/3.svg')

  &_warranty
    background-image url64('../images/icons/4.svg')

  &_insurance
    background-image url64('../images/icons/2.svg')

  &_price
    background-image url64('../images/icons/03.svg')

  &_eco
    background-image url64('../images/icons/3.svg')

  &_order
    background-image url64('../images/icons/1.svg')