.order-login
  max-width 500px

  &__check
    font-family Medium
    font-size 15px
    margin-bottom 25px
    display block

  &__input
    margin 0 0 10px 0
    width 100%

    &:last-of-type
      margin-bottom 0

  &__title
    margin-bottom 7px

  &__tip
    display block
    margin-bottom 15px

  @media screen and (min-width: 620px)
    &__check
      margin-bottom 45px

    &__input
      margin-bottom 20px

    &__title
      margin-bottom 15px

    &__tip
      margin-bottom 25px
