.order-calendar
  position relative

  &__content
    //float left

  &__tip
    position absolute
    top 120px
    right 0
    margin 0
    display none

  @media screen and (min-width: 750px)

    &__tip
      display block