.promo-code
  width 240px
  min-height 50px
  position relative

  &__input
    float left
    width 170px

  &__btn
    float right
    width 60px

  @media screen and (min-width: 930px)
    width 325px

    &__input
      width 255px