.rating
  display inline-block
  vertical-align top
  font-size 0
  width 95px
  height 30px

  &__item
    display inline-block
    vertical-align top
    width 15px
    height 14px
    background url64('../images/icons/icon-28.svg') 0 0 no-repeat
    background-size 100% 100%
    margin 8px 0 0 5px

    &_active
      background-image url64('../images/icons/icon-29.svg')

    &:first-child
      margin-left 0