.section-404
  position relative
  text-align center
  padding 130px 0

  &__title
    font-family Medium
    font-size 100px
    line-height 1
    letter-spacing 10px
    margin 0 0 30px 0

  &__txt
    font-size 15px
    line-height 2

  @media screen and (min-width: 630px)
    padding 120px 0 65px 0

    &__title
      font-size 200px
      letter-spacing 20px
      margin-bottom 45px