.settings-form
  display block
  margin 0 0 30px 0
  padding 0
  position relative

  &:last-child
    margin-bottom 0

  &__title
    margin-bottom 20px

  .count-input-wrapper
  .additional-control
    padding-bottom 15px

  &__input
    display block
    margin 0 0 10px 0
    max-width 500px
    position relative

    &-tip
      display block
      margin 5px 0 0 0
      color #6e7677
      font-family Regular
      font-size 13px
      line-height 20px

    &:last-of-type
      margin-bottom 20px

  @media screen and (max-width: 480px)
    &
      .btn
        width 100%

  @media screen and (min-width: 930px)
    margin-bottom 45px

    .count-input-wrapper
    .additional-control
      padding-bottom 40px

    &__title
      margin-bottom 30px

    &__input
      display block
      margin 0 0 20px 0

      &-tip
        position absolute
        left 100%
        top 0
        margin 5px 0 0 30px
        min-width 200px

      &:last-of-type
        margin-bottom 40px
