.sms-confirm
  max-width 300px

  &__input
    display block
    width 100%
    margin 0 0 13px 0

  &__link
    display inline-block
    vertical-align top
    cursor pointer
    font-family Medium
    font-size 15px
    color linkColor
    text-decoration none

    &:hover
      color linkColorHover
      text-decoration underline

  &__resend
    display inline-block
    vertical-align top
    position relative

    &-input
      position absolute
      left 0
      top 0
      opacity 0

  @media screen and (min-width: 620px)
    &__input
      margin-bottom 35px