.start-section
  width 300px
  margin 0 auto
  padding 50px 0 60px 0
  min-height 505px

  &__title
    display block
    font-family Medium
    font-size 25px
    line-height 45px
    font-weight normal
    text-align center
    margin 0 0 4px 0

  &__text
    display block
    font-family Medium
    font-size 20px
    line-height 30px
    font-weight normal
    text-align center
    margin 0 0 52px 0

  @media screen and (min-width: 570px)
  width 550px
  min-height 530px
  padding 60px 0 90px 0

  &__title
    font-size 40px
    line-height 60px
    margin 0 0 10px 0


.start-form
  margin 0 auto

  &__control
    display block
    margin 0 0 20px 0

  .count-input
    &:last-of-type
      margin-bottom 60px

  @media screen and (min-width: 570px)
  width 370px

  .count-input
    margin-bottom 20px

  &__submit
    font-size 24px
    padding 12px 25px 12px 25px
    width 270px
    display block
    margin 0 auto
