.total
  max-width 365px
  font-family Medium
  font-size 15px
  line-height 20px

  &__item
    padding 5px 0
    margin 0

    &_summary
      margin 5px 0 0 0
      font-size 20px

  @media screen and (min-width: 930px)
    font-size 20px
    line-height 30px

    &__item

      &_summary
        margin 15px 0 0 0
        font-size 30px