.type-slider

  &__nav
    background #eff1f1
    font-size 0
    text-align center

    &-item
      display inline-block
      vertical-align top
      color #6e7677
      cursor pointer
      font-family Medium
      font-size 15px
      line-height 30px
      padding 10px
      width 25%
      text-align center
      position relative
      z-index 1

      @media screen and (min-width: 1023px)
        padding 15px
        font-size 20px

      &_active
        color #000000
        cursor default
        background #f8cc69

        &::after
          content ""
          display block
          position absolute
          width 40px
          height 17px
          top 100%
          left 50%
          margin 0 0 0 -20px
          background url64('../images/icons/arrow_yellow.svg') 0 0 no-repeat

  &__content
    position relative
    //overflow hidden
    height auto
    background #07b19a
    color #ffffff
    @media screen and (min-width: 1200px)
      height 540px

  &__item
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-position center top
    background-repeat no-repeat
    visibility hidden
    opacity 0
    transition all 0.3s ease

    &_active
      visibility visible
      opacity 1

    @media screen and (max-width: 1200px)
      background-image none !important
      display none
      position relative
      height auto

      &_active
        display block


  &__footer
    position relative
    background #001b1f
    color #c2c5c5
    padding 20px 0 23px 0
    text-align center

    &::after
      content ""
      display block
      width 40px
      height 17px
      position absolute
      left 50%
      bottom 100%
      margin 0 0 0 -20px
      background url64('../images/icons/arrow_black.svg') 0 0 no-repeat

    @media screen and (min-width: 1200px)
      padding 55px 0 28px 0

    &-title
      color #ffe673
      font-family Medium
      font-size 20px
      line-height 25px
      padding 0
      margin 0 0 7px 0
      @media screen and (min-width: 1200px)
        font-size 30px
        line-height 40px

    &-tip
      font-size 12px
      line-height 20px
      padding 0
      margin 0
      color #6e7677