.idea/*
/bitrix/cache/*
/bitrix/managed_cache/*
/bitrix/stack_cache/*
/bitrix/php_interface/dbconn.php
/bitrix/modules/serverfilelog*
/bitrix/modules/updater.log
/bitrix/modules/updater_partner.log
/bitrix/modules/serverfileerrorlog.dat
/bitrix/wizards/*
/bitrix/backup/*
/bitrix/.settings.php
/logs/*
/db_dumps/*
/upload/*
/bitrix/themes/.default/modules.css
/.htaccess
.htpasswd
/sitemap*.xml
/bitrix/html_pages/*
.settings/*
/mediacache/*
*.zip
*.rar
*.tar
*.tar.gz
*.tgz
*.sql
/mediacache/*
/layout/node_modules/*
/layout/Gruntfile.js
/layout/package.json
/tmp/*
/tmp2/*
/media/*
/csv/*
site_checker_*.log
*error.log
*/.sass-cache/*
*.scssc
/webstat/*
rslog.log
/bitrix/log_o.txt
*.log