/*min-height(v)
  min-height v
  height auto !important
  height v*/

opacity-ie(n)
  -ms-filter unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')"')
  filter unquote('alpha(opacity=' + round(n * 100) + ')')

