// fonts
Regular = 'geometriaregular', Arial, Tahoma, Verdana, sans-serif
Medium = 'geometriamedium', Arial, Tahoma, Verdana, sans-serif
MediumRouble = 'GettidyGeometriaRouble', 'geometriamedium', Arial, Tahoma, Verdana, sans-serif

// base font sizes
basefont = 15px

baseColor = #001b1f

// links color
linkColor = #07b19a
linkColorHover = #07b19a

linkColor2 = #6e7677
linkColor2Hover = #6e7677


// btn colors
btnBgColor = #23c8ac
btnBgColorHover = #07b19a
btnBgColorActive = #059a86
btnBg2Color = #eff1f1
btnBg2ColorHover = #d3d6d6
btnBg2ColorActive = #c2c5c5
btnBgSecondColor = #ffdc73
btnBgSecondColorHover = #f8cc69
btnBgSecondColorActive = #eab85f
btnColor = #ffffff
btnColorHover = #ffffff
btnColorActive = #ffffff

// additional colors
colorGrey = #eff1f1
colorYellow = #f8cc69