<html style="background: #eff1f1;  padding: 0;">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body style="width: 700px; padding: 0; margin: 0;">
  <table width="700" align="left" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #001b1f; width:700px; border-collapse:collapse; background: #eff1f1; border:none; table-layout:fixed; margin: 0;">
    <tr>
      <td width="50%" style="background: #ffffff;vertical-align: middle; padding: 18px 50px;">
        <a href="#" target="_blank" style="display: inline-block; vertical-align: top; border: none; outline: 0;">
          <img src="images/logo.png" alt="GetTidy" style="border: none; outline: 0;" width="95" height="26"/>
        </a>
      </td>
      <td width="50%" style="background: #ffffff;vertical-align: middle; padding: 18px 50px; text-align: right; ">
        <a href="#" target="_blank" style="display: inline-block; line-height: 24px; vertical-align: top; border: none; outline: 0; text-decoration: none; color: #07b19a !important; font-weight: bold;">
          <span style="color: #07b19a">gettidy.ru</span>
        </a>
      </td>
    </tr>
    <tr>
      <td width="100%" colspan="2" style="vertical-align: middle; padding: 35px 50px 25px 50px;">
        <span style="display: block; font-size: 30px; line-height: 1; font-weight: bold;">Привет, Bambook</span>
      </td>
    </tr>
    <tr>
      <td width="100%"  colspan="2" style="vertical-align: top; padding: 0 50px;">
        <table  width="640" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: 25px; width:600px;border-collapse:collapse; background:white;border:none; table-layout:fixed;">
          <tr>
            <td width="100%" style="padding: 30px 30px 5px 30px;">
              <span style="display: block; font-size: 20px; line-height: 1.5;">Смена пароля</span>
            </td>
          </tr>
          <tr>
            <td width="100%" style="padding: 5px 30px 40px 30px;">
              <div>
                <span style="display: block; padding: 0 0 25px 0;">
                  Мы получили запрос на смену пароля для вашего аккаунта в Gettidy.
                  Если этот запрос исходил от вас, пожалуйста, перейдите по ссылке ниже.
                </span>
              </div>
              <div style="padding: 0 0 50px 0;">
                <a href="#" target="_blank" style="display: inline-block; vertical-align: top; font-size: 20px; font-weight: bold; text-decoration: none; background: #23c8ac; line-height: 1; padding: 20px;"><span style="color: #ffffff;">Сменить пароль</span></a>
              </div>
              <div>
                <span style="display: block; padding: 0 0 25px 0;">
                  Эта ссылка будет доступна в течение 2 часов или до следующего вашего запроса на смену пароля.
                </span>
              </div>
              <div>
                <span style="display: block; padding: 0 0 25px 0;">
                  Если вы не запрашивали смену пароля, то просто проигнорируйте данное письмо. Другой пользователь мог указать ваше имя пользователя по ошибке. Никаких изменений в вашем аккаунте не произойдет.
                </span>
              </div>
              <div>
                <span style="display: block;">
                  Команда Gettidy
                </span>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="100%"  colspan="2" style="vertical-align: top; padding: 0 50px;">
        <table style="font-family: Arial, Helvetica, sans-serif; width: 600px; border-collapse:collapse; border:none; table-layout:fixed; background: #eff1f1; font-size: 15px; line-height: 25px;">
          <tr>
            <td width="310" style="padding: 30px 0 30px 0;">
              <span style="font-weight: bold;"><span style="color: #6e7677;">Служба поддержки:</span> +7(921) 268-56-18</span>
            </td>
            <td width="190" style="text-align: right;">
              <a href="#" target="_blank" style="display: inline-block; line-height: 24px; vertical-align: top; border: none; outline: 0; text-decoration: none; color: #07b19a !important; font-weight: bold;">
                <span style="color: #07b19a">help@gettidy.ru</span>
              </a>
            </td>
            <td width="100" style="text-align: right;">
              <a href="#" target="_blank" style="display: inline-block; line-height: 24px; vertical-align: top; border: none; outline: 0; text-decoration: none; color: #07b19a !important; font-weight: bold;">
                <span style="color: #07b19a">gettidy.ru</span>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
