---
title: Заказ уборки - Ваши данные
---

<div class="container">

  <h1 class="page-title">Заказ уборки</h1>

  <section class="order">
    <header class="order__header clearfix">
      <span class="order__header-item order__header-item_passed" data-step="1">Параметры квартиры</span>
      <span class="order__header-item order__header-item_passed" data-step="2">Дата и время</span>
      <span class="order__header-item order__header-item_current" data-step="3">Ваши данные</span>
      <span class="order__header-item" data-step="4">Проверка заказа</span>
      <span class="order__header-item" data-step="5">Оплата</span>
    </header>
    <div class="page-block order__content">
      <form class="order-form" action="">
        {{> order-form-04}}
      </form>
    </div>
  </section>

</div>