---
title: Заказ уборки - Заказ не оформлен
---

<div class="container">

  <div class="order-final">
    <h1 class="order-final__title order-final__title_error">Ошибка!</h1>
    <div class="order-final__msg">
      <h2 class="order-final__msg-title">Оплата не произведена</h2>
      <p class="order-final__msg-text">
        В ходе оплаты возникла ошибка,
        и оплата она не была произведена. Вернитесь на страницу оплаты или свяжитесь с нашими специалистами по телефону:
        <strong>+7&nbsp;(921)&nbsp;659-98-54</strong>
      </p>
    </div>
    <a href="#" class="order-form__next btn btn_with_icons btn_responsive_true">
      <span class="btn__icon btn__icon_type_pay"></span>Оплатить заказ<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
    </a>
  </div>

</div>