---
title: Заказ уборки - Ваш заказ принят
---

<div class="container">

  <div class="order-final">
    <h1 class="order-final__title">Спасибо!</h1>
    <div class="order-final__msg">
      <h2 class="order-final__msg-title">Ваш заказ принят</h2>
      <p class="order-final__msg-text">
        Вы всегда можете просмотреть
        и изменить детали заказа
        в вашем личном кабинете.
      </p>
    </div>
    <a href="#" class="order-form__next btn btn_with_icons btn_responsive_true">
      <span class="btn__icon btn__icon_type_user"></span>В личный кабинет<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
    </a>
  </div>

</div>