---
title: История заказов
---

<div class="container">

  <h1 class="page-title"><span class="page-title__icon page-title__icon_error"></span>Ой, что-то не так(</h1>

  <section class="page-blocks clearfix">
    <div class="page-blocks__item page-blocks__item_type_main">
      <div class="page-blocks__item-controls">
        <a class="btn btn_type_third btn_size_small" href="#"><span class="btn__icon btn__icon_type_back"></span>История заказов</a>
      </div>
      <form class="feedback-form" action="">
        <div class="feedback-form__intro clearfix">
          <p class="feedback-form__intro-desc">
            К сожалению, уборка не была произведена.
            Но вы все равно можете оставить комментарий.
          </p>
        </div>
        <fieldset class="feedback-form__fieldset">
          <label class="input-txt input-txt_width_full" data-placeholder="Ваш отзыв">
            <textarea class="input-txt__field input-txt__field_area" name="" id="" autofocus="autofocus" placeholder="Ваш отзыв"></textarea>
          </label>
        </fieldset>
        <div class="feedback-form__controls clearfix">
          <button class="btn btn_type_second">Отправить</button>
        </div>
      </form>
    </div>
    <div class="page-blocks__item page-blocks__item_type_aside">
      <nav class="aside-nav">
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">Личный кабинет</a>
        </span>
        <span class="aside-nav__item aside-nav__item_active">
          <a class="aside-nav__item-link" href="#">История заказов</a>
        </span>
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">Настройки</a>
        </span>
      </nav>
      <a class="btn btn_width_full btn_responsive_true" href="#">Заказать уборку</a>
    </div>
  </section>

</div>