---
title: Личный кабинет
---

<div class="container">

  <h1 class="page-title">Личный кабинет</h1>

  <section class="page-blocks clearfix">
    <div class="page-blocks__item page-blocks__item_type_main">
      <div class="cabinet">
        <div class="cabinet__header clearfix">
          <h2 class="cabinet__title">У вас было <a href="#">3 уборки</a></h2>
        </div>
        <div class="cabinet__content">
          <div class="bonuses">
            <h3 class="bonuses__title">Ваши бонусы</h3>
            <p class="bonuses__item">
              <span class="bonuses__item-name">Приглашённых друзей:</span> 4
            </p>
            <p class="bonuses__item">
              <span class="bonuses__item-name">Бесплатных часов:</span> 2
            </p>
            <div class="bonuses__invite">
              <p class="bonuses__invite-txt">
                Пригласите друзей
                и получите вместе с ними
                по 1 часу уборки бесплатно!
              </p>
              <div class="bonuses__invite-btns clearfix">
                <a class="btn btn_type_vk btn_with_icons">
                  <span class="btn__icon btn__icon_type_vk"></span>Вконтакте
                </a>
                <a class="btn btn_type_fb btn_with_icons">
                  <span class="btn__icon btn__icon_type_fb"></span>Фейсбук
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-blocks__item page-blocks__item_type_aside">
      <nav class="aside-nav">
        <span class="aside-nav__item aside-nav__item_active">
          <a class="aside-nav__item-link" href="#">Личный кабинет</a>
        </span>
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">История заказов</a>
        </span>
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">Настройки</a>
        </span>
      </nav>
      <a class="btn btn_width_full btn_responsive_true" href="#">Заказать уборку</a>
    </div>
  </section>

</div>