---
title: Личный кабинет
---

<div class="container">

  <h1 class="page-title">Личный кабинет</h1>

  <section class="page-blocks clearfix">
    <div class="page-blocks__item page-blocks__item_type_main">
      <div class="cabinet">
        <div class="cabinet__header clearfix">
          <h2 class="cabinet__title">До начала уборки 3 дня</h2>
          <div class="cabinet__cancel">
            <span class="cancel-link">Отменить уборку</span>
            <!--<span class="canceled">
              Уборка отменена. <a href="#"><strong>Восстановить</strong></a>
            </span>     -->
          </div>
        </div>
        <div class="cabinet__content">

          <div class="order-item">
            <h4 class="order-item__title order-item__title_date">Дата и время</h4>
            <a class="order-item__edit hide-text" href="#" title="Редактировать">Редактировать</a>
            <p class="order-item__param">22 апреля 2014</p>
            <p class="order-item__param">С 14:00 до 18:00 (4 ч)</p>
          </div>
          <div class="order-item">
            <h4 class="order-item__title order-item__title_params">Параметры</h4>
            <p class="order-item__param">2 комнаты + 1 санузел</p>
            <p class="order-item__param"><span class="order-item__param-name">Дополнительно:</span> чистка плиты и холодильника</p>
          </div>
          <div class="order-item">
            <h4 class="order-item__title order-item__title_contacts">Контактные данные</h4>
            <p class="order-item__param"><span class="order-item__param-name">Адрес:</span> ул. Папанова-Чудина, д. 7, кв. 12</p>
            <p class="order-item__param"><span class="order-item__param-name">Имя:</span> Вениамин Кочевний</p>
            <p class="order-item__param"><span class="order-item__param-name">Телефон:</span> +7 (921) 326-95-81</p>
          </div>
          <div class="order-item">
            <h4 class="order-item__title order-item__title_cleaner">Ваш клинер</h4>
            <p class="order-item__param order-item__param_cleaner">
              <span class="order-item__param-pic">
                <img src="assets/images/content/cleaner-unknown.png"/>
              </span>
              Ваш клинер будет назначен
              за день до уборки.
            </p>
          </div>
          <div class="cabinet__order-price">
            Стоимость: <span class="cabinet__order-price-content">2 800 <span class="rouble">Р</span> (за 4 ч)</span>
            <span class="cabinet__order-price-tip">Время можно изменить во время уборки</span>
          </div>
          <div class="bonuses">
            <h3 class="bonuses__title">Ваши бонусы</h3>
            <p class="bonuses__item">
              <span class="bonuses__item-name">Приглашённых друзей:</span> 4
            </p>
            <p class="bonuses__item">
              <span class="bonuses__item-name">Бесплатных часов:</span> 2
            </p>
            <div class="bonuses__invite">
              <p class="bonuses__invite-txt">
                Пригласите друзей
                и получите вместе с ними
                по 1 часу уборки бесплатно!
              </p>
              <div class="bonuses__invite-btns clearfix">
                <a class="btn btn_type_vk btn_with_icons">
                  <span class="btn__icon btn__icon_type_vk"></span>Вконтакте
                </a>
                <a class="btn btn_type_fb btn_with_icons">
                  <span class="btn__icon btn__icon_type_fb"></span>Фейсбук
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-blocks__item page-blocks__item_type_aside">
      <nav class="aside-nav">
        <span class="aside-nav__item aside-nav__item_active">
          <a class="aside-nav__item-link" href="#">Личный кабинет</a>
        </span>
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">История заказов</a>
        </span>
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">Настройки</a>
        </span>
      </nav>
      <a class="btn btn_width_full btn_responsive_true" href="#">Заказать уборку</a>
    </div>
  </section>

</div>