---
title: История заказов
---

<div class="container">

  <h1 class="page-title">История заказов</h1>

  <section class="page-blocks clearfix">
    <div class="page-blocks__item page-blocks__item_type_main">
      <div class="page-blocks__item-controls">
        <a class="btn btn_type_third btn_size_small" href="#"><span class="btn__icon btn__icon_type_back"></span>Назад</a>
      </div>
      <div class="order-detail">
        <div class="order-detail__header clearfix">
          <h2 class="order-detail__title">22 сентября 2014</h2>
          <div class="order-detail__header-content">
            <span class="status">Завершён</span>
            <a class="comment-link" href="#">Комментировать</a>
            <!-- !!!! -->
            <!-- вместо ссылки "комментировать, если уже добавлен рейтинг"-->
            <!--<span class="rating">
              <i class="rating__item rating__item_active">&nbsp;</i>
              <i class="rating__item rating__item_active">&nbsp;</i>
              <i class="rating__item rating__item_active">&nbsp;</i>
              <i class="rating__item rating__item_active">&nbsp;</i>
              <i class="rating__item">&nbsp;</i>
            </span>-->
          </div>
        </div>
        <div class="order-detail__content">

          <div class="order-item">
            <h4 class="order-item__title order-item__title_date">Дата и время</h4>
            <p class="order-item__param">22 апреля 2014</p>
            <p class="order-item__param">С 14:00 до 18:00 (4 ч)</p>
          </div>
          <div class="order-item">
            <h4 class="order-item__title order-item__title_params">Параметры</h4>
            <p class="order-item__param">2 комнаты + 1 санузел</p>
            <p class="order-item__param"><span class="order-item__param-name">Дополнительно:</span> чистка плиты и холодильника</p>
          </div>
          <div class="order-item">
            <h4 class="order-item__title order-item__title_contacts">Контактные данные</h4>
            <p class="order-item__param"><span class="order-item__param-name">Адрес:</span> ул. Папанова-Чудина, д. 7, кв. 12</p>
            <p class="order-item__param"><span class="order-item__param-name">Имя:</span> Вениамин Кочевний</p>
            <p class="order-item__param"><span class="order-item__param-name">Телефон:</span> +7 (921) 326-95-81</p>
          </div>
          <div class="order-item">
            <h4 class="order-item__title order-item__title_cleaner">Ваш клинер</h4>
            <p class="order-item__param order-item__param_cleaner">
              <span class="order-item__param-pic">
                <img src="assets/files/cleaner-pic.jpg"/>
              </span>
              <a href="#">
                Маргарита <br/> Ведерцева
              </a>
            </p>
          </div>
          <div class="order-item">
            <h4 class="order-item__title order-item__title_price">Стоимость</h4>
            <p class="order-item__param"><span class="order-item__param-name">Вы заплатили:</span> 2 800 <span class="rouble">Р</span> за 4 часа (оплата картой)</p>
          </div>

          <a class="btn btn_type_second" href="#">Заказать такую же уборку</a>

        </div>
      </div>
    </div>
    <div class="page-blocks__item page-blocks__item_type_aside">
      <nav class="aside-nav">
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">Личный кабинет</a>
        </span>
        <span class="aside-nav__item aside-nav__item_active">
          <a class="aside-nav__item-link" href="#">История заказов</a>
        </span>
        <span class="aside-nav__item">
          <a class="aside-nav__item-link" href="#">Настройки</a>
        </span>
      </nav>
      <a class="btn btn_width_full btn_responsive_true" href="#">Заказать уборку</a>
    </div>
  </section>

</div>