---
title: Новый пароль
---

<div class="container">

  <div class="auth-block">
    <form class="auth-form" action="">
      <h2 class="auth-form__title">Новый пароль</h2>
      <label class="input-txt input-txt_width_full" data-placeholder="Новый пароль">
        <input class="input-txt__field" type="password" placeholder="Новый пароль" autofocus="autofocus" />
      </label>
      <button class="btn btn_responsive_true">Сохранить пароль</button>
    </form>
  </div>

</div>