---
title: Вход
---

<div class="container">

  <div class="auth-block">
    <form class="auth-form" action="">
      <h2 class="auth-form__title">Вход</h2>
      <label class="input-txt input-txt_width_full" data-placeholder="E-mail">
        <input class="input-txt__field" type="text" placeholder="E-mail" autofocus="autofocus" />
      </label>
      <label class="input-txt input-txt_width_full" data-placeholder="Пароль">
        <input class="input-txt__field" type="password" placeholder="Пароль" />
      </label>
      <span class="auth-form__forgot-pass">
        <a href="#">Забыли пароль?</a>
      </span>
      <button class="btn btn_responsive_true"><span class="btn__icon btn__icon_type_login"></span>Войти<span class="btn__icon btn__icon_right btn__icon_type_forward"></span></button>
    </form>
  </div>

</div>