---
title: Забыли пароль?
---

<div class="container">

  <div class="auth-block">
    <form class="auth-form" action="">
      <h2 class="auth-form__title">Забыли пароль?</h2>
      <p class="auth-form__txt">
        Введите email, который
        вы указывали при регистрации
        и мы вышлем вам письмо
        с инструкциями по смене пароля.
      </p>
      <label class="input-txt input-txt_width_full" data-placeholder="E-mail">
        <input class="input-txt__field" type="text" placeholder="E-mail" autofocus="autofocus" />
      </label>
      <button class="btn btn_responsive_true">Отправить</button>
    </form>
  </div>

</div>