---
title: Страница клинера
---

<div class="container">

  <h1 class="page-title">Страница клинера</h1>

  <section class="page-blocks clearfix">
    <div class="page-blocks__item page-blocks__item_type_main">
      <div class="page-blocks__item-controls">
        <a class="btn btn_type_third btn_size_small" href="#"><span class="btn__icon btn__icon_type_back"></span>Назад</a>
      </div>
      <div class="cleaner-profile">
        <span class="cleaner-profile__pic">
          <img src="assets/files/cleaners/pic-2.jpg" alt=""/>
        </span>
        <div class="cleaner-profile__inf">
          <h4 class="cleaner-profile__inf-name">Маргарита Ведёрцева</h4>
          <p class="cleaner-profile__inf-txt">
            Утверждает, что ее родители были засуженными уборщиками Кремля во времена Самого! Моет полы, как робот пылесос — быстро, чисто, нарезая концентрические круги! Богиня чистоты!
          </p>
        </div>
      </div>
      

    </div>
    <div class="page-blocks__item page-blocks__item_type_aside">

      <a class="btn btn_width_full btn_responsive_true" href="#">Заказать уборку</a>
    </div>
  </section>

</div>