---
title: Настройки
---

<div class="container">

  <h1 class="page-title">Помощь</h1>

  <section class="page-blocks clearfix">
    <div class="page-blocks__item page-blocks__item_type_main">
      <div class="content-section">
        <div class="hidden-desktop">
          <h3><span class="phone">+7 (921) 954-89-26</span></h3>
          <p>
            Наши специалисты помогут вам разобратьяс в непонятной ситуации с 8:00 до 24:00
          </p>
        </div>
        <h2>Вопрос-ответ</h2>
        <h3>Как изменить метод ввода</h3>
        <p>
          Далее в любом поле ввода, нажмите на место ввода и удерживайте. Откроется меню Способ ввода (Input Method), в нём выбираете нужную вам клавиатуру. Замечание. Стандартная клавиатура не предоставляет возможности отключения.
        </p>
        <h3>Как отформатировать карту памяти в телефоне?  </h3>
        <p>
          Откроется меню Способ ввода (Input Method), в нём выбираете нужную вам клавиатуру. Замечание. Стандартная клавиатура не предоставляет возможности отключения.
        </p>
        <h3>Как сохранить, восстановить SMS?</h3>
        <p>
          Стандартная клавиатура не предоставляет возможности отключения. Далее в любом поле ввода, нажмите на место ввода и удерживайте. Откроется меню Способ ввода (Input Method), в нём выбираете нужную вам клавиатуру. Замечание.
        </p>
        <form class="form" action="">
          <h2>Обратная связь</h2>
          <p>
            Оставьте свой вопрос или комментарий о нашем сервисе.
          </p>
          <label class="input-txt input-txt_width_full" data-placeholder="E-mail">
            <textarea class="input-txt__field input-txt__field_area" placeholder="Ваш вопрос или комментарий"></textarea>
          </label>
          <label class="input-txt input-txt_width_full" data-placeholder="Имя">
            <input class="input-txt__field" type="text" placeholder="Имя" />
          </label>
          <label class="input-txt input-txt_width_full" data-placeholder="E-mail">
            <input class="input-txt__field" type="text" placeholder="E-mail" />
          </label>
          <div class="form__controls">
            <input class="btn btn_type_second" type="submit" value="Отправить"/>
          </div>
        </form>
      </div>
    </div>
    <div class="page-blocks__item page-blocks__item_type_aside">
      <div class="visible-desktop">
        <p>
          Если у вас возникли проблемы, вопросы или просто хочется
          с кем-нибудь поговорить — звоните.
        </p>
        <h2><span class="phone phone_big">+7 (921) 165-95-15</span></h2>
      </div>

      <a class="btn btn_width_full btn_responsive_true" href="#">Заказать уборку</a>
    </div>
  </section>

</div>