---
title: Для клинеров
---

<div class="container">

  <h1 class="page-title">Для клинеров</h1>

  <section class="page-blocks clearfix">
    <div class="page-blocks__item page-blocks__item_type_main">
      <div class="content-section">
        <div class="for-cleaners-intro">
          <p>
            Любите чистоту? <br/>
            Присоединяйтесь к команде
            GetTidy!
          </p>
          <a href="#request-form" class="btn btn_type_second">Подать заявку</a>
        </div>
        <h2>Что мы предлагаем</h2>
        <ul class="offers">
          <li class="offers__item">
            <span class="offers__item-icon offers__item-icon_calendar"></span>
            <span class="offers__item-title">Гибкий график</span>
            <p>
              Вы сами выбираете, когда вам удобно работать, и составляете свой график.
            </p>
          </li>
          <li class="offers__item">
            <span class="offers__item-icon offers__item-icon_money"></span>
            <span class="offers__item-title">Регулярный доход</span>
            <p>
              Ваш доход зависит только от вас. Чем больше работаете, тем больше получаете.
            </p>
          </li>
          <li class="offers__item">
            <span class="offers__item-icon offers__item-icon_learn"></span>
            <span class="offers__item-title">Обучение</span>
            <p>
              Опыт необязателен. Вас всему научат наши более опытные специалисты.
            </p>
          </li>
          <li class="offers__item">
            <span class="offers__item-icon offers__item-icon_clothes"></span>
            <span class="offers__item-title">Мягкие фартуки <br/>и рюкзаки</span>
          </li>
          <li class="offers__item">
            <span class="offers__item-icon offers__item-icon_eco"></span>
            <span class="offers__item-title">Эко-средства <br/> премиум-класс</span>
          </li>
          <li class="offers__item">
            <span class="offers__item-icon offers__item-icon_metro"></span>
            <span class="offers__item-title">Офис рядом <br/> с Петроградской</span>
          </li>
        </ul>

        <h2>Что требуется от вас</h2>
        <ul class="txt-list">
          <li>— Вы трудолюбивы и ответственны</li>
          <li>— Вы любите делать людей счастливыми</li>
          <li>— Вы знаете, что такое качественный сервис</li>
          <li>— Вы опрятно выглядите</li>
          <li>— Вам нравится делать уборку</li>
        </ul>
        <form id="request-form" class="form" action="">
          <h2>Присоединяйтесь</h2>
          <p>
            Отправьте заявку или позвоните по телефону +7 (921) 165-95-15
          </p>
          <label class="input-txt input-txt_width_full" data-placeholder="Кратко о себе">
            <textarea class="input-txt__field input-txt__field_area" placeholder="Кратко о себе"></textarea>
          </label>
          <label class="input-txt input-txt_width_full" data-placeholder="Ваше имя">
            <input class="input-txt__field" type="text" placeholder="Ваше имя" />
          </label>
          <label class="input-txt input-txt_width_full" data-placeholder="Телефон">
            <input class="input-txt__field" type="text" placeholder="Телефон" />
          </label>
          <label class="input-txt input-txt_width_full" data-placeholder="E-mail">
            <input class="input-txt__field" type="email" placeholder="E-mail" />
          </label>
          <div class="form__controls">
            <input class="btn btn_type_second" type="submit" value="Подать заявку"/>
          </div>
        </form>
      </div>
    </div>
    <div class="page-blocks__item page-blocks__item_type_aside">
      <div class="visible-desktop">
        <p>
          Если у вас возникли проблемы, вопросы или просто хочется
          с кем-нибудь поговорить — звоните.
        </p>
        <h2><span class="phone phone_big">+7 (921) 165-95-15</span></h2>
      </div>

      <a class="btn btn_width_full btn_responsive_true" href="#">Заказать уборку</a>
    </div>
  </section>

</div>
