<div class="order-calendar">
  <input class="order-calendar__date" name="" type="hidden"/>
  <script>
    var daysAvailable =  [
      { date: '2014-05-20', title: '' },
      { date: '2014-05-21', title: '' },
      { date: '2014-05-22', title: '' },
      { date: '2014-05-23', title: '' },
      { date: '2014-05-26', title: '' },
      { date: '2014-05-27', title: '' },
      { date: '2014-05-28', title: '' },
      { date: '2014-05-29', title: '' },
      { date: '2014-05-30', title: '' }
    ];
  </script>
  <div class="order-calendar__content">

  </div>
  <div class="order-calendar__tip">
    <ul class="calendar-tip">
      <li class="calendar-tip__item">
        <span class="calendar-tip__item-icon calendar-tip__item-icon_type_today">10</span><span class="calendar-tip__item-dash">—</span>сегодня
      </li>
      <li class="calendar-tip__item">
        <span class="calendar-tip__item-icon">10</span><span class="calendar-tip__item-dash">—</span>занято
      </li>
      <li class="calendar-tip__item">
        <span class="calendar-tip__item-icon calendar-tip__item-icon_type_available">10</span><span class="calendar-tip__item-dash">—</span>свободно
      </li>
      <li class="calendar-tip__item">
        <span class="calendar-tip__item-icon calendar-tip__item-icon_type_selected">10</span><span class="calendar-tip__item-dash">—</span>выбрано
      </li>
    </ul>
  </div>
</div>