<div class="main-nav">
  <div class="container">
    <ul class="main-nav__info">
      <li class="main-nav__info-item">
          <span class="city-dropdown city-dropdown_width_full">
          <span class="city-dropdown__title city-dropdown__title_light">Санкт-Петербург</span>
          <span class="city-dropdown__content">
            <span class="city-dropdown__content-title">Выберите город:</span>
            <ul class="city-dropdown__list">
              <li class="city-dropdown__list-item city-dropdown__list-item_active">Санкт-Петербург</li>
              <li class="city-dropdown__list-item">Москва</li>
            </ul>
          </span>
        </span>
      </li>
      <li class="main-nav__info-item">
        <span class="phone-block phone-block_light">+7 (812) 385-76-72</span>
      </li>
    </ul>
    <nav class="main-nav__menu">
      <ul class="main-nav__menu-list">
        <li class="main-nav__menu-item"><a href="#">Помощь</a></li>
        <li class="main-nav__menu-item"><a href="#">Клинерам</a></li>
        <li class="main-nav__menu-item"><a href="#">Блог</a></li>
        <li class="main-nav__menu-item"><a href="#">О нас</a></li>
      </ul>
    </nav>
    <nav class="main-nav__social clearfix">
      <a class="main-nav__social-item btn btn_type_vk btn_with_icons" href="http://vk.com/gettidy" target="_blank">
        <span class="btn__icon btn__icon_type_vk"></span>Вконтакте
      </a>
      <a class="main-nav__social-item btn btn_type_fb btn_with_icons" href="http://facebook.com/gettidy" target="_blank">
        <span class="btn__icon btn__icon_type_fb"></span>Фейсбук
      </a>
      <a class="main-nav__social-item btn btn_type_insta btn_with_icons" href="http://instagram.com/gettidy" target="_blank">
        <span class="btn__icon btn__icon_type_insta"></span>Instagram
      </a>
    </nav>
    <div class="main-nav__footer clearfix">
      <div class="main-nav__footer-left">
        <nav class="main-nav__links">
          <span class="main-nav__links-item">
              <a href="#">Пользовательское соглашение</a>
          </span>
          <span class="main-nav__links-item">
              <a href="#">Правила сайта и защиты информации</a>
          </span>
          <span class="main-nav__links-item main-nav__links-item_cards">
            <img src="assets/images/content/cards.png" alt=""/>
          </span>
        </nav>
      </div>
      <div class="main-nav__footer-right">
        <span class="main-nav__copyright">
            Сделано в <a href="http://breadhead.ru/" target="_blank">Breadhead</a>
        </span>
      </div>
    </div>
  </div>
</div>