<div id="what-we-clean" class="modal fade hide">
  <div class="modal__body">
    <span class="modal__close" title="Закрыть" data-dismiss="modal"></span>
    <h2 class="modal__title">Что входит в уборку</h2>
    <div class="clean-content">
      <h3 class="clean-content__title">Комната</h3>
      <div class="clearfix">
        <img class="clean-content__pic" src="{{assets}}/images/modal-clean/pic-1.jpg" alt=""/>
        <ol class="clean-content__list">
          <li>Протираем поверхности</li>
          <li>Поправляем небольшие вещи</li>
          <li>Пылесосим ковры</li>
          <li>Моем пол</li>
          <li>Протираем плинтус</li>
          <li>Убираем пыль со светильников</li>
          <li>Заправляем постель</li>
        </ol>
      </div>
    </div>
    <div class="clean-content">
      <h3 class="clean-content__title">Кухня</h3>
      <div class="clearfix">
        <img class="clean-content__pic" src="{{assets}}/images/modal-clean/pic-2.jpg" alt=""/>
        <ol class="clean-content__list">
          <li>Протираем поверхности</li>
          <li>Моем посуду</li>
          <li>Чистим раковину</li>
          <li>Чистим плиту</li>
          <li>Убираем столешницу</li>
          <li>Протираем стол</li>
          <li>Моем пол и плинтус</li>
          <li>Убираем пыль
            со светильников</li>
          <li>Выносим мусор</li>
        </ol>
      </div>
    </div>
    <div class="clean-content">
      <h3 class="clean-content__title">Ванная</h3>
      <div class="clearfix">
        <img class="clean-content__pic" src="{{assets}}/images/modal-clean/pic-3.jpg" alt=""/>
        <ol class="clean-content__list">
          <li>Протираем зеркала</li>
          <li>Убираем разводы на стенах
            и сантехнике</li>
          <li>Моем раковину</li>
          <li>Моем ванну или душевую
            кабину</li>
          <li>Чистим унитаз</li>
          <li>Моем полы</li>
        </ol>
      </div>
    </div>
    <div class="clean-content">
      <h3 class="clean-content__title">Коридор</h3>
      <div class="clearfix">
        <img class="clean-content__pic" src="{{assets}}/images/modal-clean/pic-4.jpg" alt=""/>
        <ol class="clean-content__list">
          <li>Протираем поверхности</li>
          <li>Протираем зеркала</li>
          <li>Пылесосим, моем пол</li>
          <li>Протираем плинтуса</li>
          <li>Убираем пыль со светильников</li>
          <li>Поправляем обувь</li>
        </ol>
      </div>
    </div>
  </div>
</div>