<div id="clean-tools" class="modal fade hide">
  <div class="modal__body">
    <span class="modal__close" title="Закрыть" data-dismiss="modal"></span>
    <h2 class="modal__title">Чем мы убираем</h2>
    <p>
      Вы получите лучшую уборку в жизни. <br/>
      Взгляните на список того, что принесут с собой профессиональные клинеры GetTidy.
    </p>
    <h3>Что мы принесем с собой</h3>
    <div class="tools-item">
      <img class="tools-item__pic" src="{{assets}}/images/tools/pic-1.png" alt=""/>
      <div class="tools-item__content">
        <h4 class="tools-item__title">Средства по уходу</h4>
        <ul class="tools-item__list">
          <li>— Средство для всех поверхностей в доме</li>
          <li>— Средство для паркетных и ламинированных полов</li>
        </ul>
      </div>
    </div>
    <div class="tools-item">
      <img class="tools-item__pic" src="{{assets}}/images/tools/pic-2.png" alt=""/>
      <div class="tools-item__content">
        <h4 class="tools-item__title">Спреи</h4>
        <ul class="tools-item__list">
          <li>— Спрей для всех поверхностей в доме</li>
          <li>— Спрей для кухни и ванной</li>
          <li>— Спрей для нержавеющей стали</li>
        </ul>
      </div>
    </div>
    <div class="tools-item">
      <img class="tools-item__pic" src="{{assets}}/images/tools/pic-3.png" alt=""/>
      <div class="tools-item__content">
        <h4 class="tools-item__title">Перчатки и тряпки</h4>
        <ul class="tools-item__list">
          <li>— Пара одноразовых перчаток</li>
          <li>— Одноразовая половая тряпка</li>
          <li>— Одноразовая губка</li>
          <li>— Бумажные полотенца</li>
          <li>— Тряпки из микрофибры</li>
          <li>— Мешки для мусора</li>
        </ul>
      </div>
    </div>
    <h3>Что вам необходимо иметь</h3>
    <div class="tools-item">
      <img class="tools-item__pic" src="{{assets}}/images/tools/pic-4.png" alt=""/>
      <div class="tools-item__content">
        <ul class="tools-item__list">
          <li>— Ведро</li>
          <li>— Щетка для пола</li>
          <li>— Щетка для унитаза</li>
        </ul>
      </div>
    </div>
  </div>
</div>