<div class="modal-menu">
  <header class="modal-menu__header">
    <div class="container clearfix">
      <a class="modal-menu__header-logo hide-text" href="/">Get Tidy</a>
      <span class="modal-menu__header-close">Закрыть</span>
    </div>
  </header>
  {{> main-nav}}
</div>