<fieldset class="order-form__fieldset">
  <h2 class="order-form__fieldset-title">Подтверждение номера телефона</h2>
  <p>
    На ваш номер телефона было выслано смс с кодом подтверждения. Пожалуйста, введите код в поле ниже.
  </p>
  <div class="sms-confirm">
    <label class="sms-confirm__input input-txt" data-placeholder="Код подтверждения">
      <input class="input-txt__field" type="text" placeholder="Код подтверждения" />
    </label>
    <label class="sms-confirm__resend">
      <input class="sms-confirm__resend-input" type="checkbox" name="RESEND"/>
      <span class="sms-confirm__link">Получить смс повторно</span>
    </label>
  </div>
  <div class="order-form__fieldset-tip">
    <h3>Приватность</h3>
    <p>
      Все введенные вами данные абсолютно конфиденциальны
      и необходимы только для работы сервиса.
    </p>
  </div>
</fieldset>
<button class="order-form__next btn btn_with_icons btn_responsive_true">
  <span class="btn__icon btn__icon_type_save"></span>Сохранить<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
</button>