<fieldset class="order-form__fieldset">
  <h2 class="order-form__fieldset-title">Ваши данные</h2>
  <div class="order-form__fieldset-tip">
    <h3>Приватность</h3>
    <p>
      Все введенные вами данные абсолютно конфиденциальны
      и необходимы только для работы сервиса.
    </p>
  </div>
  <div class="order-form__contacts">
    <div class="order-form__contacts-block">
      <h3 class="order-form__contacts-title">Адрес</h3>
      <label class="order-form__contacts-input input-txt" data-placeholder="Город">
        <input class="input-txt__field" type="text" placeholder="Город" value="Санкт-Петербург" disabled/>
      </label>
      <label class="order-form__contacts-input input-txt" data-placeholder="Адрес">
        <input class="input-txt__field" type="text" placeholder="Адрес" />
      </label>
    </div>
    <div class="order-form__contacts-block">
      <h3 class="order-form__contacts-title">Личные данные</h3>
      <span class="order-form__contacts-tip">Мы пришлем вам напоминание в день уборки</span>
      <label class="order-form__contacts-input input-txt" data-placeholder="Контактный телефон">
        <input class="input-txt__field" type="text" placeholder="Контактный телефон" />
      </label>
      <label class="order-form__contacts-input input-txt" data-placeholder="Ваше имя">
        <input class="input-txt__field" type="text" placeholder="Ваше имя" />
      </label>
    </div>
  </div>
</fieldset>
<button class="order-form__next btn btn_with_icons btn_responsive_true">
  <span class="btn__icon btn__icon_type_place"></span>Сохранить<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
</button>