<fieldset class="order-form__fieldset">
  <h2 class="order-form__fieldset-title">Способ4534оплаты</h2>
  <div class="order-form__fieldset-tip">
    <h3>Простота и безопасность</h3>
    <p>
      Мы принимаем как наличную, так и безналичную оплату. Оплата банковской картой производится через защищенный платежный шлюз.
    </p>
  </div>
  <label class="payment-type">
    <input class="payment-type__input" type="radio" name="payment-type" id="" checked/>
    <span class="payment-type__content">
      <span class="payment-type__content-title">Наличными</span>
      <span class="payment-type__content-desc">
        Просто оплатите сумму после уборки. Внимание: чаевые платить не нужно!
      </span>
    </span>
  </label>
  <label class="payment-type">
    <input class="payment-type__input" type="radio" name="payment-type" id=""/>
    <span class="payment-type__content">
      <span class="payment-type__content-title">Картой</span>
      <span class="payment-type__content-desc">
        Мы заморозим сумму заказа на вашем счете и снимем деньги только после его успешного завершения.
      </span>
      <img src="{{assets}}/images/content/cards.png" alt=""/>
    </span>
  </label>564564

</fieldset>
<button class="order-form__next btn btn_with_icons btn_responsive_true">
  Оформить заказ<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
</button>