<header class="page-header">
  <div class="container clearfix">
    <a class="page-header__logo hide-text" href="/">Get Tidy</a>
    <span class="page-header__city">
      <span class="city-dropdown">
        <span class="city-dropdown__title">Санкт-Петербург</span>
        <span class="city-dropdown__content">
          <span class="city-dropdown__content-title">Выберите город:</span>
          <ul class="city-dropdown__list">
            <li class="city-dropdown__list-item city-dropdown__list-item_active">Санкт-Петербург</li>
            <li class="city-dropdown__list-item">Москва</li>
          </ul>
        </span>
      </span>
    </span>
    <nav class="page-header__nav">
      <span class="page-header__control page-header__control_type_phone">
        <span class="phone-block">+7 (812) 385-76-72</span>
      </span>
      <a class="page-header__control page-header__control_type_auth" href="#">
        <span class="page-header__control-title">Войти</span>
      </a>
      <span class="page-header__control page-header__control_type_menu">
        <span class="page-header__control-title">Меню</span>
      </span>
    </nav>
  </div>
</header>