<span class="count-input count-input_width_full">
  <input class="count-input__value" type="hidden" value="2"/>
  <span class="count-input__content">
    <span class="count-input__content-value">2</span>
    <span class="count-input__content-text" data-word-forms="комната/комнаты/комнат/">комнаты</span>
  </span>
  <button class="count-input__btn count-input__btn_type_minus hide-text">-</button>
  <button class="count-input__btn count-input__btn_type_plus hide-text">+</button>
</span>