<div class="time-picker clearfix">
  <label class="time-picker__item">
    <input class="time-picker__item-control" type="radio" name="time-picker" disabled/>
    <span class="time-picker__item-content">08:00</span>
  </label>
  <label class="time-picker__item">
    <input class="time-picker__item-control" type="radio" name="time-picker" disabled/>
    <span class="time-picker__item-content">10:00</span>
  </label>
  <label class="time-picker__item">
    <input class="time-picker__item-control" type="radio" name="time-picker" disabled/>
    <span class="time-picker__item-content">12:00</span>
  </label>
  <label class="time-picker__item">
    <input class="time-picker__item-control" type="radio" name="time-picker" checked/>
    <span class="time-picker__item-content">14:00</span>
  </label>
  <label class="time-picker__item">
    <input class="time-picker__item-control" type="radio" name="time-picker"/>
    <span class="time-picker__item-content">16:00</span>
  </label>
  <label class="time-picker__item">
    <input class="time-picker__item-control" type="radio" name="time-picker"/>
    <span class="time-picker__item-content">18:00</span>
  </label>
  <label class="time-picker__item">
    <input class="time-picker__item-control" type="radio" name="time-picker"/>
    <span class="time-picker__item-content">20:00</span>
  </label>
</div>