{{ getComponent("breadhead:order.calendar2.0", ".default", {'ORDER_ID': false}, {'HIDE_ICON': true}) }}
<button class="order-form__next btn btn_with_icons btn_responsive_true" id="enter_contactinfo">
    <span class="btn__icon btn__icon_type_place"></span>Добавить адрес<span class="btn__icon btn__icon_right btn__icon_type_forward"></span>
</button>