table{
    border-collapse:collapse;
    border:2px solid black;
}
td{
    padding:5px;
    padding-right:30px;
    border:1px solid #ccc;
}
th{
    padding:10px;
    border:1px solid black;
}
caption{
    /* стили для заголовка таблицы */
}
.hidden{
    display: none;
}
.hotConsole .output p
{
    white-space:pre;
    font-size: 12px;
}
.hotConsole .output p.new
{
    white-space:pre;
    background: #ff9;
    font-size: 12px;
}
code
{
    border: none !important;
}