/*Общие самописные стили*/
body {overflow-x: hidden;}
*, .bootstrap-select .dropdown-toggle:focus {outline: 0 !important;}
a {
	text-decoration: underline;
	font-weight: 500;
	color: inherit;
}
b {
	font-weight: 500;
	font-size: inherit;
}
h1 {
	color: #3257fe;
	font-size: 48px;
	font-weight: 100;
}
h2 {
	font-weight: 100;
	font-size: 36px;
}
h3 {
	font-weight: 100;
	font-size: 24px;
}
h4 {
	font-weight: 100;
	color: #3257fe;
	font-size: 18px;
}
input[disabled]::-webkit-input-placeholder {color: #cfcfcf;}
input[disabled]::-moz-placeholder          {color: #cfcfcf;}/* Firefox 19+ */
input[disabled]:-moz-placeholder           {color: #cfcfcf;}/* Firefox 18- */
input[disabled]:-ms-input-placeholder      {color: #cfcfcf;}

.clearfix {clear: both;}
.form-control {
	-webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link {color: #3257FE;}
.btn-link:hover {text-decoration: none;}
/*icons*/
.icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	text-align: center;
}
.icon.locate {background: url(../img/icon_sprite_top_menu.png) no-repeat 4px 0px;}
.icon.phone {background: url(../img/icon_sprite_top_menu.png) no-repeat -53px 0px;}
.icon.log_in {background: url(../img/icon_sprite_top_menu.png) no-repeat -110px -1px;}
.icon.menu {background: url(../img/icon_sprite_top_menu.png) no-repeat -155px 0px;}
.icon.mail {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -348px;}
.icon.obj_data {background: url(../img/icon_sprite_ordering_set.png) no-repeat -63px -114px;}
.icon.date_time {background: url(../img/icon_sprite_ordering_set.png) no-repeat -63px -56px;}
.icon.your_data {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -7px;}
.icon.done {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -519px;}
.icon.back {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -554px;}
.icon.wait_for {background: url(../img/icon_sprite_ordering_set.png) no-repeat -60px -444px;}
.icon.delete {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -487px;}
.icon.feedback {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -394px;}
.icon.star-o {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -594px;}
.icon.star {background: url(../img/icon_sprite_ordering_set.png) no-repeat -62px -629px;}
.icon.bonus {background: url(../img/icon_sprite_ordering_set.png) no-repeat -8px -385px;}
.icon.rouble {font-size: 16px; line-height: 14px;}

/*header*/
header {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
header a, header a:hover {text-decoration: none;}
header .navbar-default {
	background-color: transparent;
    border-color: transparent;
    padding: 15px 0;
}
header .navbar-default.navbar-fixed-top {
	background: #f1ffff;
    padding: 15px 0 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.navbar-collapse.collapse.in {
	background: rgba(255, 255, 255, 0.9);
	margin-top: 10px;
}
.select_cont {margin: 5px 0;}
.select_cont button, .select_cont button:hover {
	padding: 15px 10px;
    margin: 0;
    background: transparent;
    border: 0px transparent;
    border-radius: 0;
}
.select_cont button.btn-default.focus, .select_cont button.btn-default:focus {
    color: #333;
    background-color: transparent;
    border-color: #8c8c8c;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.open>.dropdown-toggle.btn-default:hover, .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}
.select_cont .bs-caret {color: #3257fe;}
.nav.navbar-nav {margin: 15px 0;}
.nav.navbar-nav li {margin-right: 50px;}
.nav.navbar-nav button {
	background: transparent;
	border: 0;
}
#get_clean {
	margin: 10px 0;
    font-size: 18px;
    color: #3257fe;
    width: 195px;
    background: transparent;
    border: 1px solid #3257fe;
}

/**/
.fixed_clock {
    position: absolute;
    top: 50%;
    right: 0;
    padding-top: 15px;
}
.fixed_clock div {
    position: relative;
    height: 60px;
    padding: 0 40px;
    padding: 0 40px 0 0;
}
.fixed_clock span {
    display: block;
    transform: rotate(90deg);
    position: absolute;
    right: -10px;
    top: 10%;
    text-decoration: overline;
}
.fixed_clock .secs span {right: -7px;}
.fixed_clock b {
    font-size: 25px;
    font-weight: 100;
}
/**/
.main_1 {
    background-color: #EFEFEF;
    background: #fafafa url(../img/pic_main_bg1.jpg) no-repeat 50% 100%;
    /* background-size: cover; */
    height: 900px;
}
.main_1 h1 {margin-top: 140px;}
.main_1 .btn-default {
	background: transparent;
    border-color: #3257FE;
}
.main_1 button[type="submit"] {
	background: #33cccc;
    border-color: #33cccc;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 30px;
	padding: 15px;
    width: 265px;
}
.main_1 button[type="submit"]:hover {
	background: #3257fe;
	border-color: #3257fe;
}
.main_1 button[type="submit"]:focus {
	background: #1d1d3e;
	border-color: #1d1d3e;
	color: #fff;
}
.main_1 .bs-caret {color: #3257fe;}
.main_1 .filter-option.pull-left {
	font-size: 18px;
    font-weight: 100;
    padding: 9px;
}
.main_1 p {
	font-size: 18px;
	margin-top: 20px;
}

/**/
.main_2 {
	background: #f1ffff url(../img/wire.png) no-repeat 50% 0;
	padding: 20px 0;
	position: relative;
}
.advs {margin: 50px auto 70px;}
.adv_1, .adv_2, .adv_3, .adv_4, .adv {
	position: relative;
	min-height: 110px;
}
.main_2 .pic, .about_us_2 .pic, .b2b_2 .pic {
	display: block;
    height: 100px;
    width: 100px;
    margin: 35px auto;
}
.main_2 p, .about_us_2 p, .b2b_2 p {
	color: #010066;
	font-size: 18px;
	margin-top: 20px;
}
.main_2 h2 {color: #010066;}
.adv_1 .pic {background: url(../img/icon_sprite_adv_block.png) no-repeat 0px 0px;}
.adv_2 .pic {background: url(../img/icon_sprite_adv_block.png) no-repeat -290px 0px;}
.adv_3 .pic {background: url(../img/icon_sprite_adv_block.png) no-repeat -585px 0px;}
.adv_4 .pic {background: url(../img/icon_sprite_adv_block.png) no-repeat -880px 0px;}
.adv_5 .pic {background: url(../img/icon_sprite_ordering_set.png) no-repeat -120px -300px;}
.adv_6 .pic {background: url(../img/icon_sprite_ordering_set.png) no-repeat -252px -305px;}
.adv_7 .pic {background: url(../img/icon_sprite_ordering_set.png) no-repeat -165px -570px;}
.adv_8 .pic {background: url(../img/icon_sprite_ordering_set.png) no-repeat -287px -430px;}
.adv_9 .pic {background: url(../img/icon_sprite_ordering_set.png) no-repeat -165px -440px;}
.adv_10 .pic {background: url(../img/icon_sprite_ordering_set.png) no-repeat -290px -575px;}

/**/
.slider-holder {
	background: #1d1d3e;
	color: #33cccc;
	position: relative;
}
.slider_cover {
	position: absolute;
    top: 65px;
    height: 500px;
    bottom: 0;
 /* right: 83%; */
    width: 293px;
    z-index: 9;
    background: rgba(50,87,254,0.4);
}
.sc_l {left: 0;}
.sc_r {right: 0;}
.slider-nav {
	color: #fff;
	z-index: 9;
}
.slider-marker {
	padding: 20px 0;
    cursor: pointer;
    font-size: 18px;
}
.slider-marker.slick-current {
    background: #33cccc;
    color: #1D1D3E;
    position: relative;
    margin-bottom: 10px;
}
.slider-marker.slick-current:after {
	content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #33cccc;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 9;
}
.slick-next {
    right: 20%;
    top: 35%;
}
.slick-prev {
    left: 20%;
    top: 35%;
}
.slider-for {margin-top: -10px;}
.location ul.hidden-xs.points_list, .location ul.hidden-xs.adds {
	padding: 0;
    position: relative;
    width: 1171px;
    height: 500px;
    margin: 0;
}
.location ul.visible-xs {
    padding: 30px;
    position: relative;
    width: 767px;
	width: 100vw;
    height: auto;
    margin: 0;
    background: rgba(29, 29, 62, 0.8);
}
.location ul.visible-xs li {
	margin-bottom: 5px;
	padding-left: 25px;
}
.location ul.visible-xs li span {
	display: inline-block;
    margin-right: 15px;
    margin-left: -40px;
    height: 10px;
    width: 10px;
    border-radius: 3px;
    background: #F1FFFF;
    padding: 3px;
}
.location ul.hidden-xs li {display: none !important;}
.location.slick-current ul.hidden-xs li {display: block !important;}
.location ul.hidden-xs.points_list li {
    background: #33CCCC;
/*  display: block;*/
    padding: 0;
    border-radius: 5px;
    height: 30px;
    width: 30px;
	position: absolute;
}
.location ul.hidden-xs.adds li {
    background: transparent;
    height: auto;
    width: 220px;
    color: #000;
    font-size: 18px;
    position: absolute;
}
.location ul.hidden-xs.adds li .add_icon {
	height: 100px;
    width: 100px;
    margin: 0 auto;
}
.add_1 {background: url(../img/icon_sprite_adds_tab.png) no-repeat 32px 15px;}
.add_2 {background: url(../img/icon_sprite_adds_tab.png) no-repeat -230px 15px;}
.add_3 {background: url(../img/icon_sprite_adds_tab.png) no-repeat -480px 15px;}
.add_4 {background: url(../img/icon_sprite_adds_tab.png) no-repeat 20px -210px;}
.add_5 {background: url(../img/icon_sprite_adds_tab.png) no-repeat -230px -210px;}
.add_6 {background: url(../img/icon_sprite_adds_tab.png) no-repeat -485px -210px;}

.location ul.hidden-xs.adds li b {
    font-size: 18px;
    color: #3257fe;
    display: block;
}
.location ul.hidden-xs.ad_list {
    height: auto;
    width: 1170px;
    margin: 20px auto 0;
}
.location ul.hidden-xs.ad_list li {
line-height: 25px;
}

/*FlipClock*/
.clock {
    width: 200px;
    width: initial;
    margin: 0 auto -20px;
    display: inline-block;
}
.flip-clock-divider {height: 60px;}
.flip-clock-dot {
    background: #3257FE;
    width: 6px;
    height: 6px;
    box-shadow: none;
}
.flip-clock-dot.top {top: 15px;}
.flip-clock-dot.bottom {bottom: 20px;}
.flip-clock-divider.minutes, .flip-clock-divider.seconds .flip-clock-label {display: none;}
.flip-clock-wrapper ul li a div div.inn {
    font-size: 30px;
    color: #3257FC;
    text-shadow: none;
    background-color: #FAFAFA;
}
.flip-clock-wrapper .flip {
    box-shadow: none;
    border: 1px solid #3257FE;
}
.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 30px;
    height: 44px;
    font-size: 50px;
    font-weight: bold;
    line-height: 30px;
    border-radius: 6px;
    background: #3257FE;
}
.flip-clock-wrapper ul li {line-height: 44px;}
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, transparent));
    background: linear, top, rgb(245, 245, 245) 0%, transparent 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%;
}
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, transparent 0%, rgba(0, 0, 0, 0.1) 100%;
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear, to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 100%;
}
/**/

/* Tooltip */
.location li + .tooltip > .tooltip-inner {
    background: rgba(29, 29, 62, 0.8);
    color: #33CCCC; 
    border: 0;
    padding: 15px;
    font-size: 18px;
    text-align: left;
}
/* Tooltip on top */
.location li + .tooltip.top > .tooltip-arrow {border-top: 0;}
/* Tooltip on bottom */
.location li + .tooltip.bottom > .tooltip-arrow {border-bottom: 0;}
/* Tooltip on left */
.location li + .tooltip.left > .tooltip-arrow {border-left: 0;}
/* Tooltip on right */
.location li + .tooltip.right > .tooltip-arrow {border-right: 0;}

/*.slider-holder .not_do {
    background: url(../img/not_do_vert.png) no-repeat 0% 50%;
    padding: 25px 0px 25px 39px;
}*/
.not_do .row {margin: 0;}
.not_do .col-sm-4 {
	padding-left: 5px;
	padding-right: 5px; 
}
.not_do li {
	font-size: 14px;
	font-weight: 100;
    margin: 0;
    line-height: 25px;
}
#not_do_list {margin-bottom: 20px;}

.slider-holder .not_do {
    background: none;
    padding: 0 15px;
/*  height: 70px;
    overflow: hidden;*/
}
/*.slider-holder .not_do.uncut {height: auto;}*/
.not_do h4 {
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
}
.not_do h4 b {color: #3cc;}
.not_do h4 .caret {
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    margin: -3px 10px 0;
}
.not_do ul {margin-bottom: 25px;}

/**/
.cleaner {
	background: rgb(237,237,237);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2FjYWNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlYmViZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%, rgba(202,202,206,1) 100%, rgba(190,190,190,1) 100%, rgba(245,246,246,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(202,202,206,1)), color-stop(100%,rgba(190,190,190,1)), color-stop(100%,rgba(245,246,246,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%,rgba(202,202,206,1) 100%,rgba(190,190,190,1) 100%,rgba(245,246,246,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%,rgba(202,202,206,1) 100%,rgba(190,190,190,1) 100%,rgba(245,246,246,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%,rgba(202,202,206,1) 100%,rgba(190,190,190,1) 100%,rgba(245,246,246,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(237,237,237,1) 0%,rgba(202,202,206,1) 100%,rgba(190,190,190,1) 100%,rgba(245,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f5f6f6',GradientType=1 );
}
.cleaner img {margin: 0 0 0 50%;}
/**/
.main_4 {
	background: #33cccc url(../img/pic_123_steps.png) no-repeat 50% 0%;
	height: 530px;
}
.main_4 .container {position: relative;}
.main_4 h2 {color: #fff;}
.main_4 p {
	font-size: 18px;
	color: #010066;
}
.step_1 {
	position: absolute;
    top: 220px;
    left: 30px;
    width: 220px;
    padding: 0;
}
.step_2 {
    position: absolute;
    top: 360px;
    left: 570px;
    width: 290px;
    padding: 0;
}
.step_3 {
    position: absolute;
    top: 225px;
    left: 960px;
    width: 205px;
    padding: 0;
}

/**/
.main_5 h2 {
	color: #fff;
    position: absolute;
    padding: 0 15px;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    margin: 70px auto 0;
    max-width: 620px;
}
.main_5 .cleaner {position: relative;}
.main_5 .cleaner div {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #010066;
    max-width: 767px;
    margin: auto;
    font-size: 24px;
    height: 250px;
    bottom: 0;
    padding: 50px 0 0 0;
}
.main_5 .cleaner div:before {
    content: '"';
    font-size: 250px;
    font-style: italic;
    position: absolute;
    top: 0;
    left: -130px;
}
.main_5 .cleaner p {margin-bottom: 35px;}
.main_5 .cleaner p.c_head {margin-bottom: 55px;}
.main_5 .cleaner div b {position: relative;}
.main_5 .cleaner div b:after {
	content: '"';
    font-size: 160px;
    font-style: italic;
    position: absolute;
    top: -45px;
    right: -155px;
}

/*ordering page*/
section.order, section.user, section.faq {
	background: #fafafa url(../img/pic_inner_bg1.jpg) no-repeat fixed 50% 100%;
	background-size: cover;
    min-height: 1000px;
	padding-top: 85px;
}
section.order a.faq, section.user a.faq {
    font-size: 14px;
	font-weight: 400;
    margin-bottom: 20px;
	padding-left: 15px;
    display: inline-block;
    position: relative;
    color: #1D1D3F;
    text-decoration: none;
}
section.order a.faq:hover, section.order a.faq.active,
section.user a.faq:hover, section.user a.faq.active {text-decoration: underline;}
section.order a.faq:first-child, section.user a.faq:first-child {margin-top: 50px;}
/*section.order a.faq.in:first-child {margin-top: 0;}*/
section.order a.faq:before, section.user a.faq:before {
    content: "";
    height: 20px;
    width: 30px;
    position: absolute;
    top: 0;
    left: -20px;
}
section.order a.faq.in {
    float: right;
    margin-bottom: 0px;
    margin-top: 27px;
}
section.order a.faq.in:before {top: -5px;}
section.order a.faq:hover:before, section.order a.faq.active:before,
section.user a.faq:hover:before, section.user a.faq.active:before {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -5px -270px;}
section.order h1, section.user h1, section.faq h1 {
	color: #000;
	font-size: 36px;
	margin: 40px auto 30px;
}
.order_steps h3 {
	font-weight: 400;
	color: #1d1d3f;
}
.order_steps h3.inline {
	display: inline-block;
    margin-right: 60px;
}
#params .radio_label.big p {margin: 10px auto 0;}
#params .radio_label.big span {
    display: block;
    color: #3cc;
    font-size: 30px;
    margin: 10px auto;
}
/*#your_data  h3.inline {margin-bottom: 5px;}*/
.order_steps h3 span {
	font-size: 14px;
    display: block;
}
.order_steps.hidden-lg .affix {
    width: 100%;
    top: 80px;
    z-index: 9;
    background: #FAFAFA;
    padding: 0 15px 10px;
}
.order_steps h3.inline span, .order_steps .affix h3 span {
    display: inline-block;
    color: #3257fe;
    font-size: inherit;
    font-weight: 600;
}
.order_steps h4 {
	font-weight: 600;
	font-size: 24px;
    margin-top: 130px;
}
#error h4 {color: #fe5432}
.order_steps h5 {
	margin: 0 0 15px;
    color: #3257FE;
    font-weight: 400;
}
.order_steps .nav-tabs, .user .nav-pills {
    width: 100%;
    border-bottom: 0;
    background: #1D1D3F;
    border-radius: 6px 6px 0 0;
}
.order_steps .nav-tabs>.active>a, .order_steps .nav-tabs>.active>a:focus, .order_steps .nav-tabs>.active>a:hover,
.user .nav-pills>li.active>a, .user .nav-pills>li.active>a:focus, .user .nav-pills>li.active>a:hover {
    border: 1px solid #FFF;
    background: #fff;
    color: #1D1D3F;
}
.order_steps .nav-tabs>li>a, .user .nav-pills>li>a {
    border-bottom: 1px solid #1d1d3f;
    border-radius: 5px 5px 0 0;
    background: #1D1D3F;
    text-decoration: none;
    color: #626275;
    font-weight: 400;
    cursor: default;
    padding: 10px;
}
.order_steps .nav-tabs>li>a.v {cursor: pointer;}
.order_steps .nav-tabs>li>a:hover, .user .nav-pills>li>a:hover {color: #fff;}
.user .nav-pills>li>a:hover {cursor: pointer;}
.order_steps .nav-tabs>li>a:focus, .order_steps .nav-tabs>li>a:hover,
.user .nav-pills>li>a:focus, .user .nav-pills>li>a:hover {
    text-decoration: none;
    background-color: #1d1d3f;
    border-color: #1d1d3f;
}
.order_steps ul.nav-tabs a span {}
.order_steps ul.nav-tabs a span:before {
	content: attr(data-step);
    height: 20px;
    width: 20px;
    margin: -12px 10px 0 -11px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #626275;
    display: inline-block;
}
.order_steps .nav-tabs>li>a:hover span:before {
	border: 1px solid #3cc;
	color: #3cc;
}
.order_steps ul.nav-tabs a.v span:before {
	content: " ";
    margin: -11px 10px -5px -11px;
    background: url(../img/icon_sprite_ordering_set.png) no-repeat -64px -164px;
}
.order_steps .tab-content {
  /*padding: 0 15px;*/
    border-radius: 5px;
    background: #fff;
    margin-bottom: 50px;
    padding: 15px 15px 30px;
}
.order_steps .tab-content .row:first-child {
  /*border-radius: 0 0 5px 5px;
	background: #fff;
	padding-bottom: 40px;
	min-height: 555px;*/
    border-radius: 0;
    background: transparent;
    padding-bottom: 20px;
}
span.day {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 15px;
}
span.day.today {
	border: 2px solid #3257FE;
    color: #3257FE;
    padding: 4px;
}
span.day.active {
	background: #1D1D3F;
    color: #3cc;
    border-color: #1D1D3F;
}
span.day.disabled {color: #cfcfcf;}
#order_check .row.order_check {
    background: #f1ffff;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px 5px 15px 20px;
    position: relative;
    min-height: auto;
}
#order_check .empty {
    width: 25px;
    display: inline-block;
}
#order_check .edit {
	position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
    border: 1px solid #3257FE;
    border-radius: 5px;
    background: url(../img/icon_sprite_ordering_set.png) no-repeat 5px -50px;
	z-index: 9;
}
.order_steps button[data-id='square'], .order_steps button[data-id='city'] {
    border-color: #1D1D3F;
    color: #1D1D3F;
    padding: 4px 20px;
}
.order_steps .wtg .btn-group {margin-right: 20px;}
.order_steps input[type='text'], .order_steps input[type='tel'], .order_steps input[type='email'],
.order_steps input[type='number'], .order_steps input[type='password'], .b2b_4 input[type='tel'],
.b2b_4 input[type='text'], .b2b_4 textarea, .aut_form input[type='password'], .aut_form input[type='email'],
#sms .center-block input {
	border: 1px solid #1D1D3F;
    border-radius: 5px;
    padding: 4px 20px;
    margin: 5px 20px 5px 0px;
    width: 195px;
    display: inline-block;
    /* vertical-align: middle; */
}
.b2b_4 textarea {min-height: 110px;}
.order_steps input[disabled] {
	background: #fff;
    border: 1px solid #cfcfcf;
}
.order_steps button[type='submit'], .order_steps .message button, #sms .center-block + button, .inner button, 
.b2b_4 button[type='submit'], section.user button[type='submit'], section.user input[type='reset'], section.aut_form button[type='submit'],
.modal-dialog button[type='submit'], .modal-dialog button[type='button'].btn.btn-default {
	font-size: 24px;
    background-color: #3cc;
    border-color: #3cc;
    color: #fff;
    padding: 10px 15px;
    vertical-align: top;
    margin: 20px 0;
    padding-left: 50px;
    position: relative;
	min-width: 230px;
}
.order_steps button[type="submit"]:hover, .order_steps .message button:hover, #sms .center-block + button:hover, .inner button:hover, 
.b2b_4  button[type='submit']:hover, section.user button[type='submit']:hover, section.user input[type='reset']:hover {
	background: #3257fe;
	border-color: #3257fe;
}
.order_steps button[type="submit"]:focus, .order_steps .message button:focus, #sms .center-block + button:focus, .inner button:focus, 
.b2b_4  button[type='submit']:focus, section.user button[type='submit']:focus, section.user input[type='reset']:focus {
	background: #1d1d3e;
	border-color: #1d1d3e;
	color: #fff;
}
.order_steps button[type="submit"] i.icon {
	height: 35px;
    width: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.order_steps button[type="submit"] i.icon.calendar {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -3px -321px;}
.order_steps button[type="submit"] i.icon.map_marker {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat 0 -214px;}
.order_steps button[type="submit"] i.icon.rouble {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat 2px 2px;}
.order_steps button i.icon.key {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -7px -160px;}
.order_steps button.enter {color: #3cc;}
.order_steps .message {font-size: 18px;}
.order_steps .message button {margin-top: 100px;}
.order_steps .message button .pic {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 20px;
}
.order_steps .message button .pic.key {
	background: url(../img/icon_sprite_main_menu_mob_w.png) no-repeat 5px 5px;}
#sms h3 {margin: 40px auto 70px;}
#sms .center-block {
	float: none;
	background: #f1ffff;
	border-radius: 5px;
	font-size: 18px;
	padding: 20px 20px 30px;
  /*margin-bottom: 40px;*/
}
#sms .center-block b, #sms .center-block button {display: block;}
#sms .center-block button {
	font-size: 14px;
	color: #3257FE;
	padding-top: 0;
	margin: auto;
}
#sms .center-block input {
	text-align: center;
	font-size: 14px;
}
.modal-dialog button[type='submit'], .modal-dialog button[type='button'].btn.btn-default,
#sms .center-block + button {
	padding-left: 15px;
	font-size: 18px;
  /*margin: 0 auto;*/
}

/* checkbox & radio */
input[type=checkbox], input[type=radio] {display: none;}
#params .checkbox_label, #params .radio_label.big, #settings .checkbox_label, #paying .radio_label {
    position: relative;
    /*padding: 15px 0 !important;*/
    padding: 5px 0 !important;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    color: #1D1D3F;
    width: 90%;
	min-height: 150px;
    background: #f1ffff;
    border: 3px solid #f1ffff;
    border-radius: 5px;
    overflow: hidden;
	cursor: pointer;
}
#params .checkbox_label {min-height: auto;}
#params .checkbox_label  p, #paying .radio_label p {padding: 15px 0 0;}
#params .radio_label.big, #paying .radio_label {
    min-height: 90px;
    padding: 5px 0 0 !important;
}
#params .checkbox_label:before, #params .radio_label.big:before,
#settings .checkbox_label:before {
	content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    left: auto;
    border: 0;
    background: transparent;
}
#params input[type=checkbox]:checked + .checkbox_label:before,
#params input[type=radio]:checked + .radio_label.big:before,
#settings input[type=checkbox]:checked + .checkbox_label:before {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -61px -208px;
    border: 0;
}
#params input[type=checkbox]:checked + .checkbox_label,
#params input[type=radio]:checked + .radio_label.big,
#settings input[type=checkbox]:checked + .checkbox_label {border: 3px solid #3257FE;}
#params input[type=checkbox]:disabled + .checkbox_label,
#params input[type=radio]:disabled + .radio_label.big,
#settings input[type=checkbox]:disabled + .checkbox_label {cursor: default;}
#params input[type=radio]:disabled + .radio_label.big,
#paying input[type=radio]:disabled + .radio_label {
    opacity: .5;
    cursor: default;
}
#params .radio_label, #settings .radio_label {
    position: relative;
    padding-left: 30px !important;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #1D1D3F;
    width: 100%;
    cursor: pointer;
}
#params .radio_label:before, #settings .radio_label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background: transparent;
    border: 1px solid #1D1D3F;
    border-radius: 5px;
}
#params input[type=radio]:checked + .radio_label:before,
#settings input[type=radio]:checked + .radio_label:before {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -65px -311px;
	border: 1px solid #3257FE;
}
#params .checkbox_label[for=no_vac],
#settings .checkbox_label[for=no_vac] {
    padding-left: 30px !important;
    font-size: 14px;
    text-align: left;
    min-height: auto;
    margin: 0 auto;
}
#params .checkbox_label[for=no_vac] {
    float: left;
    width: auto;
    margin: 10px auto;
}
#params .checkbox_label[for=no_vac]:before,
#settings .checkbox_label[for=no_vac]:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background: transparent;
    border: 1px solid #1D1D3F;
    border-radius: 5px;
}
#params .checkbox_label[for=no_vac]:before {top: 10px;}
#params input[type=checkbox]:checked + .checkbox_label[for=no_vac]:before,
#settings input[type=checkbox]:checked + .checkbox_label[for=no_vac]:before {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -65px -311px;
	border: 1px solid #3257FE;
}
#params input[type=checkbox]:checked + .checkbox_label[for=no_vac],
#settings input[type=checkbox]:checked + .checkbox_label[for=no_vac] {
	border: 3px solid #f1ffff;}
#your_data div.col-sm-8 > div.form-group {vertical-align: baseline;}
/*#your_data div.col-sm-8 > div.form-group p {margin-bottom: 0;}*/
#your_data .radio_label {
    position: relative;
    padding-left: 40px !important;
    margin: 0 5px;
    font-size: 18px;
    line-height: 20px;
    color: #1D1D3F;
    width: auto;
}
#your_data .radio_label:before {
	content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: transparent;
    border: 1px solid #1D1D3F;
    border-radius: 5px;
}
#your_data input[type=radio]:checked + .radio_label:before {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -59px -251px;}
#your_data input[name=house], #your_data input[name=corpse] {max-width: 80px;}
#your_data input[name=flat] {max-width: 70px;}
#your_data input[name=speaker] {max-width: 110px;}
#order_check input[name=promo_code] {max-width: 160px;}
#date_time .radio_label {
	position: relative;
    padding: 4px 10px !important;
    margin: 0 10px 10px 0;
    font-size: 14px;
    line-height: 20px;
    color: #1D1D3F;
    width: 60px;
    font-weight: 400;
    border: 1px solid #1D1D3F;
    border-radius: 5px;
    cursor: pointer;
	text-align: center;
}
#date_time input[type=radio]:checked + .radio_label {
	background: #1D1D3F;
	color: #3cc;
}
#date_time input[type=radio]:disabled + .radio_label {
	color: #cfcfcf;
	border: 1px solid #cfcfcf;
}
#date_time .radio_label:hover {background: #eee;}
#date_time input[type=radio]:disabled + .radio_label:hover {
	background: transparent;
	cursor: not-allowed;
}
#date_time button[data-id="set_time"] {
    border-color: #1D1D3F;
    margin-top: 15px;
    max-width: 300px;
}
#disclaimers .checkbox_label,
#order_check .checkbox_label {
    padding-left: 30px !important;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    min-height: auto;
    margin: 0 auto;
    line-height: 20px;
}
#disclaimers .checkbox_label:before,
#order_check .checkbox_label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 15px;
    background: transparent;
    border: 1px solid #1D1D3F;
    border-radius: 5px;
}
#disclaimers input[type=checkbox]:checked + .checkbox_label:before,
#order_check input[type=checkbox]:checked + .checkbox_label:before {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -65px -311px;
	border: 1px solid #3257FE;
}
/*#paying .radio_label {
    position: relative;
    padding: 0 10px 10px 140px !important;
    margin: 5px auto;
    font-size: 18px;
    font-weight: 600;
    color: #1D1D3F;
    width: 90%;
    min-height: 120px;
    background: #f1ffff;
    border: 3px solid #f1ffff;
    border-radius: 5px;
    cursor: pointer;
}*/
#paying .radio_label:before {
	content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
}
#paying input[type=radio]:checked + .radio_label:before {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -61px -208px;}
#paying input[type=radio]:checked + .radio_label {border: 3px solid #3257FE;}
/**/

#params .checkbox_label .pic, #paying .radio_label .pic, #settings .checkbox_label .pic {
	width: 70px;
    height: 70px;
    margin: 0 auto;
}
#params .checkbox_label .pic, #paying .radio_label .pic {
    margin: 0 auto;
    float: left;
}
#params .checkbox_label .pic.p_fridge, #settings .checkbox_label .pic.p_fridge {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -272px -200px;}
#params .checkbox_label .pic.p_oven, #settings .checkbox_label .pic.p_oven {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -272px -110px;}
#params .checkbox_label .pic.p_microwave, #settings .checkbox_label .pic.p_microwave {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -174px -205px;}
#params .checkbox_label .pic.p_cupboard, #settings .checkbox_label .pic.p_cupboard {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -174px -110px;}
#params .checkbox_label .pic.p_window, #settings .checkbox_label .pic.p_window {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -173px -5px;}
#params .checkbox_label .pic.p_vacuum, #settings .checkbox_label .pic.p_vacuum {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -272px -15px;}
#params .checkbox_label[for="clean_vacuum"] .pic, #settings .checkbox_label[for="clean_vacuum"] .pic {position: absolute;}
#params .checkbox_label[for="clean_vacuum"] .pic {
    position: static;
    float: left;
}
#params .checkbox_label[for="clean_vacuum"] p, #settings .checkbox_label[for="clean_vacuum"] p {margin: 25px 0 25px;}
#params .number, #settings .number {
	margin: 0 auto;
    border-top: 1px solid #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    transition: bottom 0.3s ease;
}
#params input[type=checkbox]:checked + .checkbox_label[for="clean_window"] .number,
#settings input[type=checkbox]:checked + .checkbox_label[for="clean_window"] .number {bottom: 0;}
#params .number span, #settings .number span {
	line-height: 28px;
    padding: 0;
	display: block;
    width: 25%;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(241, 255, 255, 0.9);
}
#params .number span.minus, #settings .number span.minus {left: 0;}
#params .number span.plus, #settings .number span.plus {right: 0;}
#params .number input[type='text'], #settings .number input[type='text'] {
    width: 50%;
    text-align: center;
    /*background: transparent;*/
    background: rgba(241, 255, 255, 0.9);
    border: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 0;
    display: block;
    margin: auto;
    padding: 4px;
}
/*#paying .radio_label .pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    margin: 0 35px;
}*/
#paying .radio_label .pic.p_card {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -365px -5px;}
#paying .radio_label .pic.p_cash {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -360px -148px;}
#paying .radio_label .pic.p_cashless {
	background: url(../img/icon_sprite_ordering_set.png) no-repeat -365px -300px;}
/*#paying p {
	margin: 40px 0;
	font-size: 18px;
}*/
/*#paying .radio_label p {font-weight: 600;}*/
/**/

/*inner pages*/
section.about_us_1 {
	background: #fdfaf5 url(../img/pic_about_bg.png) no-repeat 50% 0 fixed;
}
section.inner h1 {
	max-width: 970px;
    margin: 150px auto 0;
}
section.inner button {
	padding: 10px 15px;
	margin: 45px auto 180px;
}
section.about_us_2 {background: #f1ffff;}
section.about_us_2 .adv {
	display: inline-block;
    float: none;
    min-width: 300px;
    width: 33%;
	padding: 0 15px;
	vertical-align: top;
}
section.about_us_3 h3 {
	color: #3257FE;
	margin: 45px auto 60px;
}
section.about_us_3 h5 {font-size: 18px;}
section.about_us_3 ul {font-size: 18px;}
section.about_us_3 ul.contacts li {padding-left: 25px;}
section.about_us_3 ul.contacts li .icon {margin-left: -25px;}
section.about_us_3 ul.contacts li b {font-size: 24px;}
section.about_us_3 ul.requisite li {line-height: 35px;}
section.about_us_3 a {text-decoration: none;}
section.about_us_3 .block {
    overflow: hidden;
    border: 1px solid #3257FE;
    border-radius: 5px;
    padding: 25px;
    margin: 35px auto 50px;
	float: none;
}
section.b2b_1 {
    background: #fdfaf5 url(../img/pic_b2b_bg.jpg) no-repeat 50% 0 fixed;
}
section.b2b_2 {background: #f1ffff;}
/*section.b2b_2 h4 {min-height: 40px;}*/
section.b2b_2 .adv {
    padding-left: 125px;
    text-align: left;
}
section.b2b_2 .pic {
    position: absolute;
    margin: 0;
    top: 0;
    left: 5px;
}
section.b2b_3 {
    background: #3257FE url(../img/arrow_dotted_bg.png) no-repeat 50%;
    padding: 55px 0 100px;
}
section.b2b_3 h3 {color: #fff;}
section.b2b_3 .center-block {float: none;}
section.b2b_3 a {
    color: #3cc;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}
section.b2b_3 a:last-child {font-size: 24px;}
section.b2b_4 h3 {color: #3257FE;}
section.b2b_4 .center-block {
    float: none;
    border-radius: 5px;
    border: 1px solid #3257FE;
    margin: 25px auto;
    padding: 25px 60px;
}
.b2b_4 button[type='submit'] {padding-left: 15px;}
/**/

/*user privat*/
section.user .center-block.well {
	float: none;
	background-color: #F1FFFF;
    border: 1px solid #F1FFFF;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
section.user .center-block.well input[type='password'],
section.user .center-block.well input[type='email'] {
	width: 230px;
	margin: 0;
}
section.user .center-block.well button[type='submit'] {
	float: none;
	margin: 0;
}
section.user h1 button#get_clean_2 {
	margin: 0;
	float: right;
    font-size: 18px;
    color: #3257fe;
    width: 195px;
    background: transparent;
    border: 1px solid #3257fe;
}
section.user h2 {
    font-weight: 400;
    font-size: 28px;
}
section.user h3 {
	font-weight: 400;
    color: #1d1d3f;
}
section.user h5 {
    margin: 0 0 15px;
    color: #3257FE;
    font-weight: 400;
}
#settings h5 {margin: 20px auto 5px;}
section.user .content_area {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 5px 15px 40px;
	margin-bottom: 95px;
}
section.user .content_area .btns {
	text-align: right;
	padding-top: 14px;
}
section.user .content_area .btns button {
	color: #3257FE;
    margin: 0 5px 0 0;
}
section.user button[type='submit'], section.user input[type='reset'] {
	padding-left: 15px;
    border-radius: 5px;
    border: 1px solid;
	float: right;
    margin-left: 20px;
}
section.user input[type='reset'] {
	background: #f1ffff;
	color: #1D1D3F;
}
section.user .block {
	background: #f1ffff;
	border-radius: 5px;
	margin: 15px 0;
    padding: 15px 5px 15px 20px;
}
section.user span.date {
    display: inline-block;
    vertical-align: bottom;
    width: 250px;
}
section.user span.status {
    display: inline-block;
    vertical-align: middle;
}
section.user button.feedback {margin-top: 23px;}
section.user .rating-container .filled-stars {
	color: #3cc;
	-webkit-text-stroke: 0;
    text-shadow: none; 
}
section.user textarea {
	border: 1px solid #1D1D3F;
    border-radius: 5px;
    padding: 10px;
    min-height: 150px;
}
section.user input[type='text'], section.user input[type='tel'], section.user input[type='email'],
section.user input[type='number'], section.user input[type='password'], section.user button[data-id='square'],
section.user button[data-id='city'] {
    border: 1px solid #1d1d3f;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    padding: 4px 20px;
    margin: 5px 20px 5px 0px;
    display: inline-block;
}
#settings button[type=submit] {
	padding: 6px 12px;
    float: none;
    margin: 10px 0;
    font-size: 18px;
}
#settings .inline .radio_label {
	width: auto;
    margin: 25px 20px 0 0;
}
section.user input[disabled] {
	background: #fff;
    border: 1px solid #cfcfcf;
}
section.user .bootstrap-select.btn-group:not(.input-group-btn) {width: 100% !important;}
section.user .text-info {color: #1D1D3F;}
section.faq .well {
    background-color: #f1ffff;
	border: 1px solid #f1ffff;
    border-radius: 5px;
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
section.faq .well p.lead {
	cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
/*section.faq .well .collapse, section.faq .well .collapsing {margin-top: 25px;}*/
section.faq ul {padding-left: 30px;}
section.faq .content_section {
    border-radius: 5px;
    background: #fff;
    padding: 30px;
    margin-bottom: 60px;
}
/**/

/*DateTimePicker*/
#order_datetimepicker_min {
    max-width: 300px;
    margin-top: 15px;
}
#order_datetimepicker_min > input {margin: 0;}
#order_datetimepicker_min > span {
    border: 1px solid #1D1D3F;
    background-color: #F1FFFF;
}
/*.datepicker {max-width: 440px;}*/
.bootstrap-datetimepicker-widget table {
    border-collapse: separate;
    border-spacing: 5px;
}
.bootstrap-datetimepicker-widget table thead tr:first-child {background: #f1ffff;}
.bootstrap-datetimepicker-widget table th.picker-switch {font-size: 18px;}
.bootstrap-datetimepicker-widget table td.day {
	border: 1px solid;
	border-radius: 5px;
	color: #1D1D3F;
}
.bootstrap-datetimepicker-widget table td.today:before {border-width: 0;}
.bootstrap-datetimepicker-widget table td.today {
    border: 2px solid #3257FE;
    color: #3257FE;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #1D1D3F;
    color: #3CC;
    text-shadow: none;
	border-color: #1D1D3F;
}
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #cfcfcf;
}
/**/

/*footer*/
footer {
	background: #f1ffff url(../img/wire_end.png) no-repeat 60% 0;
	padding: 20px 0;
}
footer ul {margin-bottom: 0;}
footer ul li {line-height: 30px;}
footer a {
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	color: #010066;
}
footer a.soc_net {
	display: inline-block;
    height: 50px;
    width: 50px;
    margin-left: 30px;
}
footer a.fb {background: url(../img/icon_sprite_social.png) no-repeat 0 0;}
footer a.inst {background: url(../img/icon_sprite_social.png) no-repeat -83px 0;}
footer a.vk {background: url(../img/icon_sprite_social.png) no-repeat -165px 0;}

/*modal_menu*/
.modal {background: rgba(255, 255, 255, 0.8);}
#menu .modal-dialog {
	max-width: 300px;
	margin: 10px auto;
}
#menu .modal-content {
	border-radius: 0;
	background: #3257fe;
	-webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.point {
    display: block;
    height: 105px;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 5px auto;
    text-align: center;
    position: relative;
    float: left;
	margin: 15px;
}
.point .pic {
	height: 100px;
    width: 100px;
    margin: auto;
}
a .point {
    color: #fff;
    text-decoration: none;
}
a:hover .point {
    color: #33cccc;
    text-decoration: none;
    background: #1d1d3e;
    border: 1px solid #1d1d3e;
}
.p_1 .pic {background: url(../img/icon_sprite_main_menu_w.png) no-repeat 15px 10px;}
.p_2 .pic {background: url(../img/icon_sprite_main_menu_w.png) no-repeat -123px 10px;}
.p_3 .pic {background: url(../img/icon_sprite_main_menu_w.png) no-repeat 17px -135px;}
.p_4 .pic {background: url(../img/icon_sprite_main_menu_w.png) no-repeat -120px -135px;}
a:hover .p_1 .pic {background: url(../img/icon_sprite_main_menu_g.png) no-repeat 15px 10px;}
a:hover .p_2 .pic {background: url(../img/icon_sprite_main_menu_g.png) no-repeat -123px 10px;}
a:hover .p_3 .pic {background: url(../img/icon_sprite_main_menu_g.png) no-repeat 17px -135px;}
a:hover .p_4 .pic {background: url(../img/icon_sprite_main_menu_g.png) no-repeat -120px -135px;}
.point span {
	position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0;
    right: 0;
}
.modal-dialog .close {
	position: relative;
	z-index: 9;
	padding: 10px;
}
.modal-dialog h4 {font-weight: 600;}
#places .clean-content_pic {
	display: block;
    float: left;
    width: 500px;
    margin: 0 30px 0 0;
}
#places .clean-content_list {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 13px;
    line-height: 20px;
}
#tools .tools-item {
    padding: 0 0 0 140px;
    margin: 0 0 30px 0;
    position: relative;
    min-height: 130px;
}
#tools .tools-item_pic {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 130px;
    width: 130px;
}
#tools .pic_1 {background: url(../img/icon_sprite_tools.png) no-repeat 2px 0px;}
#tools .pic_2 {background: url(../img/icon_sprite_tools.png) no-repeat -175px 0px;}
#tools .pic_3 {background: url(../img/icon_sprite_tools.png) no-repeat -508px 0px;}
#tools .pic_4 {background: url(../img/icon_sprite_tools.png) no-repeat -665px 0px;}

/*adaptive styles*/
@media (max-width: 1199px) {
.step_1 {
	top: 300px;
    left: 70px;
    text-align: left;
    width: 210px;
}
.step_2 {
    left: 325px;
    top: 145px;
    width: 310px;
}
.step_3 {
    top: 300px;
    left: 715px;
    width: 230px;
}
.slider_cover {display: none;}
.slick-next {right: 0 !important;}
.slick-prev {left: 0 !important;}
.location ul.hidden-xs.ad_list {width: 970px;}
.order_steps .nav-tabs>.active>a, .order_steps .nav-tabs>.active>a:focus,
.order_steps .nav-tabs>.active>a:hover {height: 62px;}
section.b2b_3 a:last-child {font-size: 18px;}
section.b2b_4 .center-block {padding: 25px;}
}
/**/
@media (max-width: 991px) {
h1 {font-size: 36px;}
section.order h1, section.user h1 {font-size: 30px;}
h2 {font-size: 30px;}
header .navbar-default {
	border-bottom: 2px solid #3cc;
	padding: 15px 0 5px;
}
header button[data-target="#menu"] {background: transparent;}
#get_clean {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    width: auto;
    font-weight: 100;
}
.select_cont {
	text-align: center;
	margin: 0;
}
.select_cont button, .select_cont button:hover {padding: 0px 10px;}
.open>.dropdown-toggle.btn-default:hover, .btn-group.open .dropdown-toggle {
    background: transparent;
}
.icon.menu {
	background: url(../img/icon_top_menu.png) no-repeat 50%;
    border: 1px solid #3257FE;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}
.nav.navbar-nav li {margin: 0;}
/*#menu*/
#menu .close {
    color: #3cc;
    font-weight: 100;
    font-size: 50px;
    opacity: 1;
    text-shadow: none;
    position: relative;
    z-index: 1;
    right: 10px;
}
.points {margin: 15px -15px 0;}
.points a {text-decoration: none;}
.point {
    display: block;
    height: 65px;
    width: auto;
	border: 1px solid #3257FE;
	border-radius: 0;
    text-align: left;
    position: relative;
    float: none;
    margin: 0;
    padding: 20px 0 0 90px;
}
.point .pic {
    height: 50px;
    width: 50px;
	position: absolute;
	top: 5px;
    left: 20px;
}
.point span {
    position: static;
    bottom: auto;
    width: auto;
    left: auto;
    right: auto;
}
.p_0 .pic {background: url(../img/icon_sprite_main_menu_mob_w.png) no-repeat 5px 5px;}
.p_1 .pic {background: url(../img/icon_sprite_main_menu_mob_w.png) no-repeat 2px -65px;}
.p_2 .pic {background: url(../img/icon_sprite_main_menu_mob_w.png) no-repeat 2px -130px;}
.p_3 .pic {background: url(../img/icon_sprite_main_menu_mob_w.png) no-repeat 0px -200px;}
.p_4 .pic {background: url(../img/icon_sprite_main_menu_mob_w.png) no-repeat 0px -265px;}
a:hover .p_0 .pic {background: url(../img/icon_sprite_main_menu_mob_g.png) no-repeat 5px 5px;}
a:hover .p_1 .pic {background: url(../img/icon_sprite_main_menu_mob_g.png) no-repeat 2px -65px;}
a:hover .p_2 .pic {background: url(../img/icon_sprite_main_menu_mob_g.png) no-repeat 2px -130px;}
a:hover .p_3 .pic {background: url(../img/icon_sprite_main_menu_mob_g.png) no-repeat 0px -200px;}
a:hover .p_4 .pic {background: url(../img/icon_sprite_main_menu_mob_g.png) no-repeat 0px -265px;}
/*end #menu*/
.main_1 {
    height: auto;
	background: #fbfbfb;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UxZTBlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUwZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #fbfbfb 50%, #e1e0e1 51%, #e1e0e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(50%,#fbfbfb), color-stop(51%,#e1e0e1), color-stop(100%,#e1e0e1));
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#fbfbfb 50%,#e1e0e1 51%,#e1e0e1 100%);
	background: -o-linear-gradient(top,  #fbfbfb 0%,#fbfbfb 50%,#e1e0e1 51%,#e1e0e1 100%);
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#fbfbfb 50%,#e1e0e1 51%,#e1e0e1 100%);
	background: linear-gradient(to bottom,  #fbfbfb 0%,#fbfbfb 50%,#e1e0e1 51%,#e1e0e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e1e0e1',GradientType=0 );
}
.main_1 img.bg_fake {
	margin: 0 -15px 20px;
    width: 110%;
}
.main_1 p {
    font-size: 14px;
	margin-top: 10px;
    margin-bottom: 20px;
}
.main_2 {background: #f1ffff;}
.location ul.hidden-xs.ad_list {width: 750px;}
.slider-holder .not_do {	
	background: none;
    padding: 0 15px;
/*  height: 70px;
    overflow: hidden;*/
}
/*.slider-holder .not_do.uncut {height: auto;}*/
.not_do h4 {
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
}
.not_do h4 b {color: #3cc;}
.not_do h4 .caret {
	border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
	margin: -3px 10px 0;
}
.not_do ul {margin-bottom: 25px;}
.step_1 {
    top: 300px;
    left: 40px;
    text-align: left;
    width: 180px;
}
.step_2 {
    left: 225px;
    top: 145px;
    width: 310px;
}
.step_3 {
    top: 300px;
    left: 560px;
    text-align: right;
    width: 180px;
}
.slider-marker {font-size: 14px;}
.main_5 .cleaner div {max-width: 500px;}
.slick-prev, .slick-next {
    top: 80%;
    top: 35%;
}
.order_steps input[type='text'], .order_steps input[type='tel'], .order_steps input[type='email'],
.order_steps input[type='number'], .order_steps input[type='password'], .order_steps button[data-id='city'] {
    width: 243px;
}
#your_data input[name=house], #your_data input[name=corpse],
#your_data input[name=flat], #your_data input[name=speaker] {
    max-width: 110px;
}
section.about_us_3 ul.contacts li b {font-size: 18px;}
section.b2b_2 h4 {min-height: auto;}
section.b2b_3 a:last-child {font-size: 18px;}
#params .checkbox_label, #settings .checkbox_label {min-height: 160px;}
#params .checkbox_label {min-height: auto;}
#params .checkbox_label p, #paying .radio_label p {font-size: 14px;}
}
/**/
@media (max-width: 767px) {
h1, h2, section.order h1, section.user h1, section.user h2 {font-size: 24px;}
h3 {font-size: 14px;}
.icon.locate {display: none;}
.select_cont button, .select_cont button:hover {
    padding: 0 10px 0 15px !important;
}
#get_clean {
    font-size: 14px;
    padding: 4px 20px;
    font-weight: 400;
}
.icon.menu {
    background: url(../img/icon_sprite_top_menu.png) no-repeat -151px 1px;
    height: 30px;
    width: 30px;
}
.main_1 .btn-default[type="submit"] {margin: 10px;}
.main_2 .pic, .about_us_2 .pic, .b2b_2 .pic {
	position: absolute;
	margin: 0;
    top: 0;
    left: 5px;
}
.adv_1, .adv_2, .adv_3, .adv_4, section.about_us_2 .adv, section.b2b_2 .adv {
	padding-left: 125px;
    text-align: left;
    width: 100%;
}
.main_2 p {font-size: 14px;}
.main_2 h2 {
    background: #1D1D3E;
    color: #fff;
    margin: 0 -15px -20px;
    font-size: 24px;
    padding: 30px 0;
}
.slider-holder .container {padding: 0;}
.slider-holder .not_do {padding: 0 15px;}
.not_do ul {margin-bottom: 0;}
.slider-marker.slick-current {
    background: #33cccc;
    color: #fff;
}
.slider-marker {
	color: #3cc;
	background: #F1FFFF;
}
.slider-marker.slick-current:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #1D1D3E;
    position: absolute;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}
.location ul.visible-xs {
    background: rgb(51, 204, 204);
    color: #1D1D3E;
}
.main_4 {
    background: #33cccc;
    height: auto;
}
.main_4 p {font-size: 14px;}
.step_1, .step_2, .step_3 {
	position: static;
	width: 100%;
	padding-right: 15px;
}
.step_1 {
    background: url(../img/bg_1.png) no-repeat 10px 0;
    min-height: 155px;
    padding-left: 120px;
}
.step_2 {
    background: url(../img/bg_2.png) no-repeat 97% 0;
    min-height: 155px;
    padding-right: 160px;
    padding-left: 15px;
    text-align: right;
}
.step_3 {
    background: url(../img/bg_3.png) no-repeat 10px 0;
    min-height: 155px;
    padding-left: 155px;
    text-align: left;
}
.slider-marker {
	font-size: 12px;
    text-transform: none;
}
.slider-marker .visible-xs {
	font-size: 30px;
    line-height: 17px;
	font-weight: 100;
}
.main_5 h2 {margin-top: 35px;}
.main_5 .cleaner div {
    max-width: 250px;
    font-size: 18px;
    bottom: auto;
    top: 65px;
}
.main_5 .cleaner img {
	height: 512px;
	margin: 0 0 0 35%;
}
.main_5 .cleaner p {margin-bottom: 20px;}
.main_5 .cleaner div:before {content: ""}
.main_5 .cleaner div b:after {content: ""}
.order_steps h3 {font-size: 18px;}
.order_steps .tab-content .row:first-child {border-radius: 5px;}
#params .checkbox_label, #settings .checkbox_label {
	padding: 10px 0 !important;
	font-size: 14px;
}
#params .checkbox_label p, #paying .radio_label p {
    padding: 30px 0 0;
    font-size: 10px;
}
#params .checkbox_label[for=no_vac] {font-size: 10px;}
#params .checkbox_label[for="clean_vacuum"] .pic, #settings .checkbox_label[for="clean_vacuum"] .pic {position: static;}
.order_steps.hidden-lg .affix {
    top: 60px;
    background: #F3F0E9;
}
.order_steps input[type='text'], .order_steps input[type='tel'], .order_steps input[type='email'],
.order_steps input[type='number'], .order_steps input[type='password'], .order_steps button[data-id='city'] {
    width: 195px;
}
#order_datetimepicker_min > input {width: 100%;}
#order_check .row.order_check {padding: 15px 0;}
#your_data input[name=house], #your_data input[name=corpse],
#your_data input[name=flat], #your_data input[name=speaker] {max-width: 195px;}
#sms h3 {margin: 40px auto 30px;}
#sms .center-block {margin-bottom: 15px;}
/*#paying .radio_label {
    width: 100%;
    padding: 0 10px 10px 80px !important;
}*/
#paying .radio_label .pic {
    margin: 0 5px;
    float: left;
}
#paying .radio_label p {
    /*margin: 30px 0 10px;
    font-size: 14px;*/
    padding: 30px 0 0;
}
#paying .radio_label p.visible-xs {
    font-weight: 400;
    margin: 10px 0;
}
#tools .tools-item {
	margin: 0 0 20px 0;
	padding: 0;
}
section.about_us_3 ul, section.about_us_3 ul.contacts li b {font-size: 14px;}
section.about_us_3 ul.contacts li .icon.locate {display: inline-block;}
section.b2b_3 {
	text-align: center;
    background: #3257FE;
}
.b2b_4 input[type='tel'], .b2b_4 input[type='text'], .b2b_4 textarea {width: 100%;}
section.order, section.user, section.faq {
    background: #F3F0E9;
}
section.user .content_area .btns {text-align: left;}
#settings .inline .radio_label {
    margin: 0 20px 0 0;
}
footer {background: #f1ffff;}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {padding: 3px;}
}
/**/
@media (max-width: 460px) {
.main_5 .cleaner img {margin: 0 0 0 4vw;}
.col-xxs-12 {width: 100%;}
.hidden-xxs {display: none;}
}

/*ХАКИ ДЛЯ IE*/
@media screen and (min-width:0\0) {
	.main_5 .cleaner div {left:30%;}
   	.order_steps .nav-tabs>.active>a, .order_steps .nav-tabs>.active>a:focus, .order_steps .nav-tabs>.active>a:hover {height: 62px;}
}