<div id="what-we-clean" class="modal fade hide">
    <div class="modal__body">
        <span class="modal__close" title="Закрыть" data-dismiss="modal"></span>
        <h2 class="modal__title">Что входит в уборку</h2>
        <div class="clean-content">
            <h3 class="clean-content__title">Комната</h3>
            <div class="clearfix">
                <img class="clean-content__pic" src="/layout/assets/images/modal-clean/pic-1.jpg" alt=""/>
                <ol class="clean-content__list">
                    <li>Протираем поверхности и плинтус</li>
                    <li>Убираем мусор</li>
                    <li>Заправляем постель</li>
                    <li>Убираем пыль со светильников</li>
                    <li>Поправляем небольшие вещи</li>
                    <li>Пылесосим, моем пол</li>
                    <li>Чистим зеркала и стеклянные поверхности</li>
                </ol>
            </div>
        </div>
        <div class="clean-content">
            <h3 class="clean-content__title">Кухня</h3>
            <div class="clearfix">
                <img class="clean-content__pic" src="/layout/assets/images/modal-clean/pic-2.jpg" alt=""/>
                <ol class="clean-content__list">
                    <li>Протираем стол и столешницу</li>
                    <li>Моем снаружи холодильник, духовой шкаф и плиту</li>
                    <li>Пылесосим, моем пол</li>
                    <li>Чистим раковину</li>
                    <li>Выносим мусор</li>
                    <li>Протираем поверхности и плинтус</li>
                </ol>
            </div>
        </div>
        <div class="clean-content">
            <h3 class="clean-content__title">Ванная</h3>
            <div class="clearfix">
                <img class="clean-content__pic" src="/layout/assets/images/modal-clean/pic-3.jpg" alt=""/>
                <ol class="clean-content__list">
                    <li>Чистим зеркала и стеклянные поверхности</li>
                    <li>Выносим мусор</li>
                    <li>Пылесосим, моем пол</li>
                    <li>Моем и дезинфицируем раковину, ванну, душевую кабину, унитаз</li>
                    <li>Протираем поверхности</li>
                    <li>Убираем разводы снаружи шкафа и стен</li>
                </ol>
            </div>
        </div>
        <div class="clean-content">
            <h3 class="clean-content__title">Коридор</h3>
            <div class="clearfix">
                <img class="clean-content__pic" src="/layout/assets/images/modal-clean/pic-4.jpg" alt=""/>
                <ol class="clean-content__list">
                    <li>Убираем пыль со светильников</li>
                    <li>Пылесосим, моем пол</li>
                    <li>Протираем поверхности и плинтус</li>
                    <li>Чистим зеркала и стеклянные поверхности</li>
                    <li>Расставляем обувь</li>
                    <li>Выносим мусор</li>
                </ol>
            </div>
        </div>
    </div>
</div>