<div id="regular_cleaning" class="modal fade hide">
    <div class="modal__body">
        <span class="modal__close" title="Закрыть" data-dismiss="modal"></span>
        <h2 class="modal__title">Регулярные уборки</h2>
        <p>Мы желаем освободить вас от нудной, но необходимой работы по уборке дома.</p>
        <p>Не тратьте свое время на то, что могут сделать профессионалы.</p>
        <p>Не нужно повторно оформлять один и тот же заказ, просто выберите, как часто вы желаете нас видеть, и мы будем поддерживать ваш дом в чистоте.</p>
        <p>И заметьте - это еще и выгодней!</p>

        <h3>Преимущества</h3>
        <ol>
            <li>Оплата по Факту<br>
                Оплата наличными по факту проведения уборки.</li>
            <li>Автопродление<br>
                Не нужно каждый раз оформлять заказ. Подписка продлевается автоматически.</li>
            <li>Чаще-Выгодней</li>
        </ol>
        <p>К примеру, подписка на Еженедельную уборку, позволит сэкономить вам 20%.</p>

        <h3>Как это работает</h3>
        <ul>
            <li>При оформлении заказа укажите, как часто вам нужна уборка</li>
            <li>Ваши будущие уборки на ближайший месяц, появятся в разделе "Заказы" при необходимости вы сможете редактировать дату и время приезда клинера</li>
            <li>Подписка автоматически продлевается каждый месяц</li>
        </ul>
        <p>Остались вопросы?<br>
            Позвоните на бесплатный номер 8 (800) 222-83-30 и мы с удовольствием вам поможем.
        </p>
    </div>
</div>